<div class='modal-header'>
  <h3 class='inline-block'>Create a username</h3>
</div>
<div class='modal-body'>
  <p class='inline-block pull-right'>This is what you'll be known as to other users</p>
  <input type="text" ng-model="username" ng-change="checkUsername()">
  <img src='/assets/ajax-loader-micro.gif' ng-show='working'/>
  <p ng-show="username && enabled">Looks good!</p>
  <p ng-show="username && !enabled">This username is taken</p>
</div>
<div class='modal-footer'>
  <a href="javascript://" class="btn" ng-click="save()">Save</a>
</div>

