<div class='modal-header'>
  <h3 class='inline-block'>Add FanFrees</h3>
  <p class='inline-block pull-right' ng-show='cards.length'>
    FanFrees: <span class='balance'>{{ currentUser.token_balance | centsToDollars }}</span>
  </p>
</div>
<div class='mal centered' ng-show='showSpinner'>
  <img src='/assets/ajax-loader-big.gif'>
</div>
<div class='modal-body' ng-hide='showSpinner'>
  <form>
    <div class='clearfix'>
      <a href="javascript://" ng-click='triggerAddFunds()' ng-show='mustAddCard'>Add A Card</a>
      <div class='panel' ng-click="addTokens('1000')">
        Add 1000 tokens for $5
      </div>
      <div class='panel' ng-click="addTokens('2000')">
        Add 2000 tokens for $10
      </div>
      <div class='panel' ng-click="addTokens('5000')">
        Add 5000 tokens for $25
      </div>
    </div>
  </form>
</div>
<div class='modal-footer'>
  <a href="javascript://" class="btn" ng-click="close()">close</a>
</div>
