<div class='modal-header'>
  <h3 class='inline-block'>Deposit Funds</h3>
  <p class='inline-block pull-right'>
    Balance: <span class='balance'>{{ currentUser.balance | centsToDollars }}</span>
  </p>
</div>
<div class='mal centered' ng-show='showSpinner'>
  <img src='/assets/ajax-loader-big.gif'>
</div>
<div class='modal-body'>
  <form>
    <div class='clearfix'>
      <div class="add-funds-container">
        <p>$<input type='text' ng-model="chargeAmt" focus-me='focusAmount' placeholder="Amount" class='add-funds-input mls'/>
        <a href="javascript://" class='btn btn-primary' ng-click="addFunds()" ng-hide='addMoneySpinner'>Pay with PayPal</a>
        <img src='/assets/ajax-loader-micro.gif' ng-show='addMoneySpinner'/>
        </p>
        <span class='muted tilt'>*At least $5.</span>
      </div>
    </div>
  </form>
</div>
<div class='modal-footer'>
  <a href="javascript://" class="btn" ng-click="close()">close</a>
</div>
