<div class='modal-header'>
  <h3 class='inline-block'>Select a refill amount to become a FanFree baller!</h3>
  <p class='inline-block pull-right' ng-show='cards.length'>
    FanFrees: <span class='balance'>{{ currentUser.token_balance | centsToDollars }}</span>
  </p>
</div>
<div class='mal centered' ng-show='showSpinner'>
  <img src='/assets/ajax-loader-big.gif'>
</div>
<div class='modal-body' ng-hide='showSpinner'>
  <form>
    <div>
      <a href="javascript://" ng-click='triggerAddFunds()' ng-show='mustAddCard'>Add A Card</a>
      <p>FanFrees are our FREE play tokens. Everyone receives 1000 on sign-up and an additional 500 every month.</p>
      <ul class="fanfree-list clearfix">
        <li class="fanfree-item panel" ng-click="addTokens('1000')">
          <div class="icon-cicrcle green fan-icon">
            <h2>1000</h2>
            <p class="special">FanFrees (free play tokens) for <br>$5</p>
          </div>
        </li>
        <li class="fanfree-item panel" ng-click="addTokens('2000')">
          <div class="icon-cicrcle blue fan-icon">
            <h2>2000</h2>
            <p class="special">FanFrees (free play tokens) for <br>$10</p>
          </div>
        </li>
        <li class="fanfree-item panel" ng-click="addTokens('5000')">
          <div class="icon-cicrcle orange fan-icon">
            <h2>5000</h2>
            <p class="special">FanFrees (free play tokens) for <br>$25</p>
          </div>
        </li>
      </ul>
    </div>
  </form>
</div>
<div class='modal-footer'>
  <a href="javascript://" class="btn" ng-click="close()">close</a>
</div>
