<div class='modal-header'>
  <h1>Create a Contest</h1>
</div>
<div class='modal-body'>
  <div>
    <h3>Contest Type</h3>
    <ul class="nav nav-pills">
      <li ng-class="{active: contest_type == 'h2h'}"><a href="javascript://" ng-click="contest_type = 'h2h'">H2H</a></li>
      <li ng-class="{active: contest_type == '194'}"><a href="javascript://" ng-click="contest_type = '194'">194</a></li>
      <li ng-class="{active: contest_type == '970'}"><a href="javascript://" ng-click="contest_type = '970'">270</a></li>
    </ul>
  </div>
  <div>
    <h3>Salary Cap</h3>
    $100,000
  </div>
  <div>
    <h3>Entry Fee</h3>
    <ul ng-show="contest_type != 'h2h'"class="nav nav-pills">
      <li ng-class="{active: buy_in == 0}"><a href="javascript://"        ng-click="buy_in = 0">Free</a></li>
      <li ng-class="{active: buy_in == 1}"><a href="javascript://"        ng-click="buy_in = 1">$1</a></li>
      <li ng-class="{active: contest_type == 10}"><a href="javascript://" ng-click="buy_in = 10">$10</a></li>
    </ul>
    <span ng-show="contest_type == 'h2h'">
      <span ng-hide="isFree">$</span>
        <input ng-show="contest_type == 'h2h'" type="text" pattern="[0-9]" ng-model="buy_in" placeholder="$10"/>
      <span ng-show="isFree">FanFrees</span>
      Use FanFrees <input type="checkbox" ng-model="isFree"/>
    </span>
  </div>
  <div>
    <h3>Invite your friends</h3>
    <textarea ng-model="invitees" placeholder="Put your friend's email addresses in here"></textarea>
  </div>
  <div>
    <h5>Add a custom message</h5>
    <textarea ng-model="message" placeholder="If you want to send a custom message, put it here"></textarea>
  </div>
</div>
<div class='modal-footer'>
  <a href="javascript://" class="btn btn-success" ng-click="createContest()">Create Contest</a>
  <a href="javascript://" class="btn" ng-click="close()">Cancel</a>
</div>

