<h3 ng-hide="!rosters.mine().length">My Rosters</h3>
<ul>
  <li ng-repeat="roster in rosters.mine()">
    <a href="#/market/{{roster.market_id}}/roster/{{roster.id}}" title="{{roster.contest_type.description}}">
      {{roster.buy_in | centsToDollars }} {{roster.contest_type.name}} - 
      <span ng-show="roster.live">LIVE</span><span ng-hide="roster.live">{{roster.next_game_time | shortFormTime }}</span>
      <span ng-show="roster.live">Score: {{roster.score || 0 }}</span>
      <span ng-show="roster.live">Place: {{roster.contest_rank | ordinal}} of {{roster.contest.num_rosters}}</span>
    </a>
  </li>
</ul>

<div class="market-container">
  <div class="market-title">  
    <h3>Upcoming Contests</h3>
  </div>
  <div ng-include="'/market.html'"></div>
</div>
