<p class="alert alert-success" ng-show="rosters.justSubmittedRoster">
  Your roster is looking great! Now that it's perfect, should we <a href="javascript://" ng-click="rosters.openInviteFriends(rosters.justSubmittedRoster)">Challenge Friends</a> or enter another contest?
  <a href="#/" ng-click="rosters.reset()">No thanks, I'm done</a>
</p>

<div class="alert alert-info hide" ng-show="!rosters.justSubmittedRoster">
  <h3>Launch Promotion</h3>
  <p>On every $10 contest you enter, in addition to all other prizes you win, if you score higher than the winner of the Weekly Lollapalooza Contest <em><strong>you win $500</strong></em>. Similarly, in a $1 contest or a fanfree contest, if you outscore the winner of the Weekly Lollapalooza <em><strong>you win an additional $50</strong></em>!</p>
</div>

<div ng-hide="!rosters.mine().length" class="entries-container">
  <div class="roster-title">
    <h3>Live Entries</h3>
  </div>
  
  <ul class="entries-info-list clearfix">
    <li class="ei-item">
      <p class="ei-number">{{rosters.mine().length}}</p>
      <span class="ei-info">Open Entries</span>
    </li>
    <li class="ei-item">
      <p class="ei-number">{{rosters.myLiveStats().top}}</p>
      <span class="ei-info">Top Score</span>
    </li>
    <li class="ei-item">
      <p class="ei-number">{{rosters.myLiveStats().avg | number:2}}</p>
      <span class="ei-info">Average Score</span>
    </li>
    <li class="ei-item">
      <p class="ei-number">{{rosters.myLiveStats().total_payout | centsToDollars | number: 2 | zeroIfEmpty}}</p>
      <span class="ei-info">Current Payout</span>
    </li>
  </ul>

  <a class="see-all" href="/#/rosters">See All Live Contests</a>

</div>
<div ng-show="!rosters.mine().length && rosters.pastStats().total_entries > 0" class="entries-container">
  <div class="roster-title">  
    <h3>Past Entries</h3>
  </div>
  
  <ul class="entries-info-list clearfix">
    <li class="ei-item">
      <p class="ei-number">{{rosters.pastStats().wins}}/{{rosters.pastStats().total_entries}}</p>
      <span class="ei-info">Wins/Entries</span>
    </li>
    <li class="ei-item">
      <p class="ei-number">{{rosters.pastStats().top_score}}</p>
      <span class="ei-info">Top Score</span>
    </li>
    <li class="ei-item">
    <p class="ei-number">{{rosters.pastStats().avg_score | number:2}}</p>
      <span class="ei-info">Average Score</span>
    </li>
    <li class="ei-item">
      <p class="ei-number">{{rosters.pastStats().total_payout | number:2}}</p>
      <span class="ei-info">Payout</span>
    </li>
  </ul>

  <a class="see-all" href="/#/history">See All Past Contests</a>

</div>
<div ng-show="rosters.pastStats().total_entries == 0 && rosters.mine().length == 0" class="entries-container no-entries">
  <div class="rosters-title clearfix">  
    <h3>Welcome to Fair Market Fantasy!</h3>
    <p class="about-text">Thanks for joining Fair Market Fantasy! We think you'll find it pretty easy to get started, but just in case you need help:</p>
    <ul>
      <li>Select a Market (Weekly or Daily Game) Timeframe.</li>
      <li>Click to enter a contest. Try out the 194% League, the top half wins 194% of the entry fee!</li> 
      <li>Select players at each position, up to $100,000 total.</li>
      <li>Sit back and follow your live score while you watch the game!</li>
    </ul>
  </div>
</div>

<div class="market-container">
  <div class="market-title clearfix">
    <h3>When would you like to play?</h3>
    <div class="league-selector" ng-show="currentUser.leagues.length == 0">
      <p>You aren't in any leagues yet. <br/>Create one below.</p>
    </div>
    <div class="league-selector" ng-show="currentUser.leagues.length > 0">
      <p>Or
      <select ng-model="league" name="league" ng-options="l as l.name for l in currentUser.leagues" ng-change="showNextLeagueRoster(league)">
        <option value="">Select a League</option>
      </select>
      </p>
    </div>
  </div>
  <div ng-include="'/market.html'"></div>
</div>
