<div class='modal-header'>
  <h3>Challenge your friends!</h3>
</div>
<div class='modal-body' ng-show='loaded'>
  <textarea ng-model="invitees" placeholder="Comma delimited emails"></textarea>
</div>
<div class='modal-footer'>
  <a href="javascript://" class="btn" ng-click="close()">close</a>
</div>

