<div class="alert alert-success">
  <h3>Fantasy Sports Game Legality</h3>
  <p>Fair Market Fantasy is a US-based skill games company, and all of our contests are operated 100% legally under United States and Canadian law. The US Government and 45 of the 50 states consider fantasy sports a game of skill.</p>
  <p>We do not allow residents of Arizona, Iowa, Louisiana, Montana or the Canadian province of Quebec to participate in our contests due to state-specific regulation against cash prize awards. Also, due to agreements with our payment providers, Washington is restricted as well. We also require our users to be 18 years of age or older (19 in Alabama and Nebraska). We take the legal status of our contests very seriously. If you have any questions related to this topic, please <a href="/#/support">contact us</a>.</p>
  <a href="/#/support" class="btn btn-primary btn-wide"><i class="fui-mail"></i> Contact Us</a>
  <a href="/#/{{currentUser.currentSport}}/home" class="btn btn-info btn-wide">Let's Play!</a>
</div>

<h3>US Law</h3>

<p>In 2006 the US Federal Government passed a law called the Unlawful Internet Gaming Enforcement Act. The law included a carve out that clarified the legality of fantasy sports. Specifically, it exempted "participation in any fantasy or simulation sports game or educational game or contest in which (if the game or contest involves a team or teams) no fantasy or simulation team is based on the current membership of an actual team that is a member of an amateur or professional sports organisation and meets the following conditions:</p>

<ul>
  <li>All prizes and awards offered to winning participants are established and made known to the participants in advance of the game or contest and their value is not determined by the number of participants or the amount of any fees paid by participants.</li>
  <li>All winning outcomes reflect the relative knowledge and skill of the participants and are determined predominantly by accumulated statistical results of the performance of individuals (athletes in the case of sports events) in multiple real-world sporting or other events.
  <li>No winning outcome is based:
    <ul>
      <li>On the score, point spread, or any performance or performances of any single real world team or any combination of such teams; or 
      <li>Solely on any single performance of an individual athlete in any single real-world sporting or other event.</li>
    </ul>
  </li>
</ul>

<p>Fair Market Fantasy provides skill based fantasy sports contests that are specifically exempted under US law. However, it is unclear about the state law in the following states, Arizona, Iowa, Louisiana, Montana and Vermont or the law in the Province of Quebec. As such, Fair Market Fantasy has chosen to not allow users residing in the above localities to participate in any contests for money. Fair Market Fantasy takes the legal status of the games it offers very seriously and does its utmost to ensure compliance with existing State and Federal laws. If you have any further concerns or questions about the legality of our games please do get in touch.</p>
