<div ng-controller="MarketController">
  <div ng-hide="gameNotFound" class='market-loader centered'>
    <img src='/assets/ajax-loader-big.gif'>
  </div>
  <div class="market-loader centered">
    <h4>{{gameNotFound}}</h4>
  </div>
</div>
