<div ng-controller="MarketController">
  <ul class="clearfix market-list">
    <li class="market-li" ng-repeat="market in marketService.upcoming">
      <a href="#/market/{{market.id}}" class="market-link" ng-class="{ highlightMkt: isCurrent(market) }">
        <strong>{{market.name}}</strong><br /> 
        {{market.started_at | shortFormTime}} 
      </a>
    </li>
  </ul>
  
  <div class="contest-list">
    <h3 class="selected-market" ng-cloak><span ng-show="marketService.currentMarket.market_duration == 'week'">Weekly</span><span ng-show="marketService.currentMarket.market_duration == 'day'">Daily</span> Contests Beginning {{marketService.currentMarket.started_at | shortFormTime }}</h3>

    <ul class="games hide" ng-cloak>
      <li ng-repeat="game in games" ng-class="{started: gameStarted(game)}">
        {{game.away_team}} @ {{game.home_team}} <br/>  on {{game.game_time | shortFormTime}} <br/> {{game.network}}
      </li>
    </ul>

    <div ng-hide="rosters.inProgressRoster">
      <ul class="clearfix no-no" ng-cloak>
        <li class="contest-classes full-row">
          <h4>It's More Fun With Friends!</h4>
          <p>Create a custom contest or league for you and your friends! Play for bragging rights or real money!</p>
          <a class="btn btn-block btn-create-contest" href="javascript://" ng-click="openCreateDialog()" title="Create a contest">Create a contest</a>
        </li>
        <li class="contest-classes" ng-repeat="(contestClass, contestTypes) in contestClasses" ng-class="{'full-row': contestClass == '100k'}">
          <div ng-class="{'contest-copy': contestClass == '100k'}" >
            <img ng-hide="contestClass == 'h2h rr'" ng-src="/assets/icon-{{contestClass}}.png" class="contest-image" />
            <img ng-show="contestClass == 'h2h rr'" ng-src="/assets/icon-h2h-rr.png" class="contest-image" />
            <h2>{{contestClass}}<span ng-show="contestClass == '194' || contestClass == '970'">%</span></h2>
          </div>
          <div ng-class="{'contest-copy contest-long': contestClass == '100k'}" >
            <p class="small-p">{{contestTypes[0].contest_class_desc}}</p>
            <ul class="contests no-no">
              <li class="enter-contest" ng-repeat="contestType in contestTypes">
                <a class="btn btn-contest" ng-class="{'btn-orange': !contestType.takes_tokens, 'btn-blue': contestType.takes_tokens, 'btn-small': contestClass != '100k', 'btn-primary': contestClass == '100k'}" href="javascript://" ng-click="joinContest(contestType)" title="{{contestType.description}}">
                  <span ng-show="contestType.takes_tokens">Enter for {{ contestType.buy_in }} FanFrees</span>
                  <span ng-hide="contestType.takes_tokens">Enter for {{ contestType.buy_in | centsToDollars }}</span>
                </a>
              </li>
            </ul>
          </div>
        </li>
      </ul>
    </div>
  </div>

</div>
