<div ng-controller="MarketController">
  <ul class="clearfix market-list">
    <li class="market-li" ng-repeat="market in marketService.upcoming">
      <a href="#/market/{{market.id}}" class="market-link" ng-class="{ highlightMkt: isCurrent(market) }">
        <strong>{{market.name}}</strong><br /> 
        {{market.started_at | shortFormTime}} 
      </a>
    </li>
  </ul>
  
  <div class="contest-list">
    <h3 class="selected-market" ng-cloak>Contests Beginning {{marketService.currentMarket.name}} {{marketService.currentMarket.started_at | shortFormTime }}</h3>

    <ul class="games hide" ng-cloak>
      <li ng-repeat="game in games" ng-class="{started: gameStarted(game)}">
        {{game.away_team}} @ {{game.home_team}} <br/>  on {{game.game_time | shortFormTime}} <br/> {{game.network}}
      </li>
    </ul>

    <div ng-hide="rosters.inProgressRoster">
      <ul class="clearfix no-no" ng-cloak>
        <li class="contest-classes" ng-repeat="(contestClass, contestTypes) in contestClasses">
          <img ng-src="/assets/icon-{{contestClass}}.png" class="contest-image" />
          <h2>{{contestClass}}<span ng-show="contestClass == '194' || contestClass == '970'">%</span></h2>
          <p class="small-p">{{contestClassDesc[contestClass]}}</p>
          <ul class="contests no-no">
            <li class="enter-contest" ng-repeat="contestType in contestTypes">
              <a class="btn btn-small btn-orange btn-contest" href="javascript://" ng-click="joinContest(contestType)" title="{{contestType.description}}">Enter for {{ contestType.buy_in | centsToDollars }}</a>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>

</div>
