<div class="alert alert-success">
  <h3>Playoffs at Fair Market Fantasy</h3>
  <p>For the NFL Playoffs we will have 2 new contest events, one to choose a lineup of players and one to choose a lineup of teams.</p>
  <a href="/#/playoffs" class="btn btn-info btn-wide">Let's Play!</a>
</div>


<h3>Choose a Lineup of Players for the entire Playoffs</h3>

<p>You will have a $100,000 salary cap to choose a lineup of players for the entire 

playoffs. Your team will accumulate fantasy points based on the final players on the roster and the

points they scored over the entire period of the playoffs. Thus, it will be extremely important to

discern both the player's ability to score fantasy points and their team's likely chances of playing

more games. As always, player's prices will be determined by demand for the player. In addition,

each round of the playoffs, we will increase the salary cap by $20,000 allowing users to add

reinforcements for their teams, as players on losing teams will be not play any more and so their

fantasy points will stay the same.</p>

<p>As always, you will be able to trade players back to the pool and

select new players at the then existing market prices. Player's stats will travel with the player, so

that once you trade a player and upgrade to another player you will lose the first player's stats and

get the second player's stats.</p>

<p>At the end of each playoff round, player prices will be adjusted to reflect the new expectations of 
number of games for each team (ie. players on losing teams will have their prices reflect no more games 
and players on winning teams will rise to reflect points scored plus new expectations of higher number of games played)</p>

 

<h3>Choose a Set of Teams for the entire Playoffs</h3>

<p>You will have $100,000  to spend, but  will not involve selecting players, but only selecting up to 6

teams in the NFL Playoffs. Each NFL team will get 100 fantasy points for each victory, and extra

50 points for a conference chamionship and an extra 100 points for winning the Super Bowl.

Teams would also get 2 fantasy points for every point scored and -2 fantasy points for every point

scored against them.</p>
<p>Again, prices will be set by demand and yous will be able to trade teams.

Team stats will travel with the team and so when you trade a team you will lose those stats and

gain the stats of any team you acquire.</p>

<p>At the end of each playoff round, team prices will be adjusted to reflect the new expectations of 
number of games for each team (i.e.  losing teams will have their prices reflect just points scored with 
no more games and winning teams will rise to reflect points scored plus new expectations of higher number of games played)</p>

