<!-- Lots of states here -->
<div class="players">
  <!-- This is not my roster (or public) -->
  <div ng-show="rosters.currentRoster.owner_id != currentUser.id" class="result-area">
    <h3>{{rosters.currentRoster.owner_name}} is in {{rosters.currentRoster.contest_rank | ordinal}} place!
      <span ng-show="rosters.currentRoster.paid_at">
        <span ng-show="rosters.currentRoster.amount_paid > 0"><br/>and won
          <span ng-show="rosters.currentRoster.contest_type.takes_tokens">{{rosters.currentRoster.amount_paid | number:0}}FF</span>
          <span ng-hide="rosters.currentRoster.contest_type.takes_tokens">{{rosters.currentRoster.amount_paid | centsToDollars}}</span>
        </span>
        <span ng-hide="rosters.currentRoster.amount_paid > 0">didn't win this time.</span>
      </span>
    </h3>
    <div ng-show="!currentUser">
      <a class="btn btn-info btn-large" href="javascript://" ng-show="!currentUser" ng-click="signUpModal()">Think you can do better?</a>
    </div>
  </div>
  <!-- This is my roster -->
  <div class="roster-height" ng-show="rosters.currentRoster.owner_id == currentUser.id">
    <!-- The market is closed or complete -->
    <div ng-show="market.state == 'closed'" class="result-area">
      <p>This market is closed - no player sales are available.</p>
    </div>
    <div ng-show="market.state == 'closed' || market.state == 'complete'" class="result-area">
      <div ng-init="noReport = true" ng-controller="TwitterController">
        <h3>You <span ng-show="rosters.currentRoster.amount_paid">took </span><span ng-hide="rosters.currentRoster.amount_paid"> are in </span>{{rosters.currentRoster.contest_rank | ordinal}} place
          <span ng-show="rosters.currentRoster.paid_at">
            <span ng-show="rosters.currentRoster.amount_paid > 0"><br/>and won
              <span ng-show="rosters.currentRoster.contest_type.takes_tokens">{{rosters.currentRoster.amount_paid | number:0}}FF</span>
              <span ng-hide="rosters.currentRoster.contest_type.takes_tokens">{{rosters.currentRoster.amount_paid | centsToFanbucks}}</span>
            </span>
            <span ng-hide="rosters.currentRoster.amount_paid > 0">didn't win this time.</span>
          </span>
        </h3>
        <h4>Share your roster</h4>
        <span class="twitter-share"></span>
      </div>
    </div>
    <!-- The market is published or open -->
    <div ng-show="(market.state == 'published' || market.state == 'opened')" class="players-area">
      <div class="clearfix">
        <input class="players-search pull-right" type="text" ng-model="name" ng-change="filterPlayers({autocomplete: name}, true)" placeholder="Player Search"/>
        <!--<div class="dropdown game-dropdown">-->
          <!--<div class="btn-group">-->
            <!--<button class="btn btn-small btn-info" dropdown-toggle="game-dropdown">Games</button> -->
            <!--<button class="btn btn-small btn-info" dropdown-toggle="game-dropdown"><span class="caret"></span></button> -->
            <!--<ul class="dropdown-menu dropdown-inverse">-->
              <!--<li ng-repeat="game in notStartedGames()" ng-model="game">-->
                <!--<a href="javascript://" ng-click="filterPlayers({game: game.id}, true)">{{game.away_team}} @ {{game.home_team}}</a>-->
              <!--</li>-->
            <!--</ul>-->
          <!--</div>-->
        <!--</div>-->
      </div>
      <div class="clearfix relative-parent">
        <label class="checkbox light-check pull-left" for="removeLowFilter" ng-click="toggleChecked('removeLow')" ng-class="{'checked': removeLow}">
          <span class="icons">
            <span class="first-icon fui-checkbox-unchecked"></span>
            <span class="second-icon fui-checkbox-checked"></span>
          </span>
          No Back-ups
        </label>

        <input id="removeLowFilter" class="hide" type="checkbox" ng-model="removeLow" ng-change="filterPlayers({removeLow: removeLow})" />

        <ul ng-show="filter == 'positions'" class="positions-list clearfix">
          <li class="position-item" ng-repeat="position in rosters.uniqPositionList" >
            <a class="position-link" ng-click="filterPlayers({position: position}, true)" ng-class="{selected: filterPosition == position}" href="javascript://">{{position}}</a>
          </li>
        </ul>

        <div class="fixed-table-header">
          <table class="players-table table table-striped">
            <thead>
              <tr>
                <th class="less-larger"><a href="javascript://" ng-click="filterPlayers({sort: 'name'})">Name</a></th>
                <th class="tiny" ng-hide="getFilterOpts().position"><a href="javascript://" ng-click="filterPlayers({sort: 'position'})">Pos</a></th>
                <th class="tiny"><span class="ind-pred-th">Individual Predictions**</span></th>
                <th class="tiny"><a href="javascript://" ng-click="filterPlayers({sort: 'team'})">Team</a></th>
                <th class="tiny" ng-show="getFilterOpts().position"><a href="javascript://">Opp</a></th>
                <th class="tiny">
                  <a href="javascript://" ng-show="pointsColumn() == 'ppg'" ng-click="filterPlayers({sort: 'ppg'})">PPG</a>
                  <a href="javascript://" ng-show="pointsColumn() == 'score'" ng-click="filterPlayers({sort: 'score'})">Score</a>
                </th>
                <th ><a href="javascript://" ng-click="filterPlayers({sort: 'buy_price'})">Salary</a></th>
                <th class=""><a class="btn btn-small btn-invisible" href="">Add</a></th>
              </tr>
            </thead>
          </table>
        </div>
      </div>
      <div class="player-overflow">
        <table class="players-table table table-striped">
          <thead>
            <tr>
              <th class="larger"><a href="javascript://" ng-click="filterPlayers({sort: 'name'})">Name</a></th>
              <th class="tiny" ng-hide="getFilterOpts.position"><a href="javascript://" ng-click="filterPlayers({sort: 'position'})">Pos</a></th>
              <th class="tiny"><a href="javascript://" ng-click="filterPlayers({sort: 'team'})">Team</a></th>
              <th class="tiny" ng-show="getFilterOpts().position"><a href="javascript://">Opp</a></th>
              <th class="tiny">
                <a href="javascript://" ng-show="pointsColumn() == 'ppg'" ng-click="filterPlayers({sort: 'ppg'})">PPG</a>
                <a href="javascript://" ng-show="pointsColumn() == 'score'" ng-click="">Score</a>
              </th>
              <th><a href="javascript://" ng-click="filterPlayers({sort: 'buy_price'})">Salary</a></th>
              <th class="tiny-btn"></th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="player in players | filter:notInRoster">
              <td class="larger">{{player.name_abbr}}
                  <i ng-show="!player.benched" class="fui-check-inverted text-success" title="Active"></i>
                  <i ng-show="player.benched" class="fui-cross-inverted text-danger" title="Inactive"></i>
              </td>
              <td class="tiny prediction"><p ng-hide="player.benched || !player.ppg" ng-click="openPredictionDialog(player)">PT</p></td>
              <td class="tiny" ng-hide="getFilterOpts().position">{{player.position | dashIfDEF}}</td>
              <td class="tiny">{{player.team | truncate:8}}</td>
              <td class="tiny" ng-show="getFilterOpts().position"><span ng-hide="isHomeTeam(player.team)">@</span>{{opponentFor(player) | truncate:8}}</td>
              <td class="tiny">
                <span ng-show="pointsColumn() == 'ppg'">{{player.ppg | number:0 |zeroIfEmpty}}</span>
                <span ng-show="pointsColumn() == 'score'">{{player.score | number:1 |zeroIfEmpty}}</span>
              </td>
              <td>${{player.buy_price | number:0}}</td>
              <td class="tiny-btn"><a class="btn btn-small btn-success" href="javascript://" ng-click="addPlayer(player)">Add</a></td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="home-prediction-info" ng-hide="rosters.currentRoster.state == 'finished'">**Click on the PT icon to submit your individual player predictions for the selected player</div>
    </div>
    <div class="roster-alert clearfix" ng-show="isValidRoster() && rosters.currentRoster.state == 'submitted'">
      <div class="roster-submit-center roster-submit">
        <a class="btn btn-large btn-contest-cta btn-success"  ng-click="finish()" href="javascript://" >Back to Contests</a>
      </div>
      <!--<div class="pull-right roster-submit">-->
        <!--<a ng-show="market.state == 'published' || market.state == 'opened'" class="btn btn-large btn-orange" href="javascript://" ng-click="enterAgain()">Enter Again</a>-->
      <!--</div>-->
    </div>
    <div class="roster-alert clearfix" ng-show="isValidRoster() && rosters.currentRoster.state == 'in_progress'">
      <div class="pull-right roster-submit">
        <span ng-show="show" class="roster-submit-hover submit-hth">Enter to win 27 FanBucks on head to head</span>
        <a ng-mouseenter="show = true" ng-mouseleave="show = false" class="btn btn-large btn-success " ng-click="submitRoster('27 H2H')" href="javascript://" ng-show="isValidRoster() && rosters.currentRoster.state == 'in_progress'">Submit HTH 27FB</a>
      </div>
      <div class="pull-right roster-submit">
        <span ng-show="show_hth" class="roster-submit-hover submit-top">Compete with 11 others to win 100FB first and 30FB second and third</span>
        <a ng-mouseenter="show_hth = true" ng-mouseleave="show_hth = false"  class="btn btn-large btn-orange pull-right" ng-click="submitRoster('100/30/30')" href="javascript://" ng-show="isValidRoster() && rosters.currentRoster.state == 'in_progress'">Submit 100FB</a>
      </div>
    </div>
  </div>
</div>
