<div class='modal-header'>
  <h3>Reset Password
    <button class="close close-modal" ng-click="close()">×</button>
  </h3>
</div>
<div class='modal-body'>
  <form>
    <div class='clearfix'>
      <input type='password' class='mvm' placeholder='Password' ng-model='user.password' /><br />
      <input type='password' class='mvm' placeholder='Confirm' ng-model='user.password_confirmation' />
    </div>
  </form>
</div>
<div class='modal-footer'>
  <a href="javascript://" class="btn btn-primary" ng-click="updatePassword()">Save</a>
</div>
