<div class='modal-header'>
  <h3 class='inline-block'>Reset Password</h3>
</div>
<div class='modal-body'>
  <form>
    <div class='clearfix'>
      <input type='password' class='mvm' placeholder='Password' ng-model='user.password' /><br />
      <input type='password' class='mvm' placeholder='Confirm' ng-model='user.password_confirmation' />
    </div>
  </form>
</div>
<div class='modal-footer'>
  <a href="javascript://" class="btn btn-primary" ng-click="updatePassword()">Save</a>
  <a href="javascript://" class="btn" ng-click="close()">close</a>
</div>
