<div ng-show="rosters.currentRoster">
  <div class="contest-info">
    <div class="relative clearfix">
      <a href="javascript://" class="btn btn-danger btn-cancel-entry" ng-show="rosters.currentRoster.state == 'in_progress'" ng-click="rosters.cancel()">Cancel entry</a>
      <a href="javascript://" class="btn btn-orange btn-invite-friends" ng-click="rosters.openInviteFriends(rosters.currentRoster)" 
        ng-show="currentUser && (market.state == 'published' || market.state == 'opened') && rosters.currentRoster.contest">
        Invite Friends</a>
      <a href="#/market/{{markets.currentMarket.id}}" class="btn btn-inverse btn-cancel-entry" ng-hide="rosters.inProgressRoster || !currentUser">Back to Contests</a>
      <img ng-src="/assets/icon-{{rosters.currentRoster.contest_type.name}}.png" class="contest-info-image" />
      <div class="contest-info-description">
        <h2 ng-show="rosters.currentRoster.league" class="contest-title">{{rosters.currentRoster.contest_type.name}} {{rosters.currentRoster.league.name}} League Game</h2>
        <h2 ng-hide="rosters.currentRoster.league" class="contest-title">{{markets.currentMarket.name}}
          <span ng-show="markets.currentMarket.name == ''">Daily</span> 
          {{rosters.currentRoster.contest_type.name}}
          <span ng-show="rosters.currentRoster.contest_type.name == '194' || rosters.currentRoster.contest_type.name == '970'">% </span> 
            Contest
        </h2>
        <p class="contest-description-text">
          <span ng-show="rosters.currentRoster.contest_type.name == '100k'">THE LOLLAPALOOZA. First prize is $50k, that's a lot of cheddar for a $10 entry!</span>
          <span ng-show="rosters.currentRoster.contest_type.name == '194'">Top half nearly doubles their money. You're better than average, right? Go get 'em!</span>
          <span ng-show="rosters.currentRoster.contest_type.name == '970'">Show everyone what a true champion you are in this winner takes all league.</span>
          <span ng-show="rosters.currentRoster.contest_type.name == 'h2h'">Play one on one games to channel some truly intimate aggression.</span>
        </p>
        <ul>
          <li>Starts: {{markets.currentMarket.started_at | shortFormTime }}</li>
          <li>Buy-in: 
            <span ng-show="rosters.currentRoster.contest_type.takes_tokens">{{rosters.currentRoster.contest_type.buy_in }} FanFrees</span>
            <span ng-hide="rosters.currentRoster.contest_type.takes_tokens">{{rosters.currentRoster.contest_type.buy_in | centsToDollars }}</span>
          </li>
          <li>Entries: {{rosters.currentRoster.contest_type.max_entries | unlimitedIfZero}}</li>
          <li>Payout: {{rosters.currentRoster.contest_type.payout_description}}</li>
          <li ng-show="rosters.currentRoster.contest_rank && rosters.currentRoster.state != 'in_progress' && inThePast(market.started_at)">Rank: {{rosters.currentRoster.contest_rank | ordinal }} of {{rosters.currentRoster.contest.num_rosters}}</li>
      </div>
    </div>

    <ul class="games clearfix hide">
      <li class="game" ng-repeat="game in games" ng-class="{started: gameStarted(game)}" >
        {{game.away_team}} @ {{game.home_team}} <br/>  on {{game.game_time | shortFormTime}} <br/> {{game.network}}
      </li>
    </ul>
  </div>

  <p class="alert alert-info" ng-show="market.state == 'published'">
    This market's bell hasn't rung yet (it will open on or before {{dayBefore(market.opened_at) | shortFormTime}}). <br/>That means all prices are indicative. This helps keep our market fair. <a class="" href="/#rules">Learn More</a>.
  </p>

  <div class="contest-leaderboard" ng-show="rosters.currentRoster.state != 'in_progress' && rosters.currentRoster.contest_id && (inThePast(market.started_at) || rosters.currentRoster.contest.private)">
    <table class="table table-striped">
      <thead>
        <th ng-show="rosters.contest_type.name == 'h2h rr'">Record</th>
        <th ng-hide="rosters.contest_type.name == 'h2h rr'">Rank</th>
        <th>User</th>
        <th>Payout</th>
        <th>Points&nbsp;&nbsp;of: {{leaderboard[0].perfect_score | number:1}}</th>
        <th>Roster</th>
      </thead>
      <tbody>
        <tr ng-repeat="roster in leaderboard">
          <td ng-show="roster.contest_type.name == 'h2h rr'">
            <span ng-show="inThePast(market.started_at)">{{record(leaderboard, roster)}}</span>
            <span ng-hide="inThePast(market.started_at)">Not Started</span>
          </td>
          <td ng-hide="roster.contest_type.name == 'h2h rr'">
            <span ng-show="inThePast(market.started_at)">{{roster.contest_rank}}</span>
            <span ng-hide="inThePast(market.started_at)">Not Started</span>
          </td>
          <td>{{roster.owner_name}}</td>
          <td>
            <span ng-show="rosters.currentRoster.contest_type.takes_tokens">{{roster.contest_rank_payout || 0}} FanFrees</span>
            <span ng-hide="rosters.currentRoster.contest_type.takes_tokens">{{(roster.contest_rank_payout || 0) | centsToDollars}}</span>
          </td>
          <td>{{roster.score | number:2}}</td>
          <td>
            <span ng-show="roster.id == rosters.currentRoster.id">This roster</span>
            <a ng-show="roster.owner_id == currentUser.id && roster.id != rosters.currentRoster.id" href="#/market/{{market.id}}/roster/{{roster.id}}">View roster</a>
            <a ng-show="roster.owner_id != currentUser.id" href="#/market/{{market.id}}/roster/{{rosters.currentRoster.id}}/vs/{{roster.id}}">See their roster</a>
          </td>
        </tr>
      </tbody>
    </table>
    <a href="javascript://" ng-click="showMoreLeaders()" class="show-more-leaders" ng-show="rosters.currentRoster.contest_type.max_entries > 10">Show More</a>
  </div>

  <div class="entries-container">
    <div class="roster-title my-roster-title clearfix">  
      <h3 class="inline-heading">
        <span ng-show="rosters.currentRoster.owner_id == currentUser.id">Your Team</span>
        <span ng-show="rosters.currentRoster.owner_id != currentUser.id">{{rosters.currentRoster.owner_name}}'s Team</span>
      </h3>

      <h3 class="inline-heading opponent" ng-show="rosters.opponentRoster">{{rosters.opponentRoster.owner_name | truncate:10}}</h3>

      <div class="salary-cap" ng-class="{broke: rosters.currentRoster.remaining_salary <= 0}" ng-hide="rosters.opponentRoster">
        Salary Remaining: ${{rosters.currentRoster.remaining_salary | number:0}}
      </div>
    </div>
  </div>

  <div class="team-selection clearfix">
    <div id="player-stats-content" style="display: none;" ng-include="'/stats.html'"></div>
    <div ng-controller="IncludeController" ng-init="track({roster: 'rosters.currentRoster'})"><div ng-include="'/team.html'"></div></div>
    <div ng-show="rosters.opponentRoster" ng-controller="IncludeController" ng-init="track({roster: 'rosters.opponentRoster'})"><div ng-include="'/team.html'"></div></div>
    <div ng-hide="rosters.opponentRoster" ng-include="'/players.html'"></div>
  </div>
</div>
