<div ng-show="rosters.currentRoster"> 
  <div class="contest-info">
    <div class="relative clearfix">
      <a href="javascript://" class="btn btn-inverse btn-cancel-entry" ng-show="rosters.inProgressRoster" ng-click="rosters.cancel()">Cancel entry</a>
      <a href="#/market/{{markets.currentMarket.id}}" class="btn btn-inverse btn-cancel-entry" ng-hide="rosters.inProgressRoster">Back to Contests</a>
      <img ng-src="/assets/icon-{{rosters.currentRoster.contest_type.name}}.png" class="contest-info-image" />
      <div class="contest-info-description">
        <h2>{{rosters.currentRoster.contest_type.description}}</h2>
        <ul>
          <li>Starts: {{markets.currentMarket.started_at | shortFormTime }}</li>
          <li>Timeframe: {{markets.currentMarket.name}}</li>
          <li>Entries: {{rosters.currentRoster.contest_type.max_entries | unlimitedIfZero}}</li>
          <li>Buy-in: {{rosters.currentRoster.contest_type.buy_in | centsToDollars }}</li>
          <li>Format: Winner take all
          <li ng-show="rosters.currentRoster.contest_rank">Rank: {{rosters.currentRoster.contest_rank | ordinal }} of {{rosters.currentRoster.contest.num_rosters}}</li>
      </div>
    </div>

    <ul class="games clearfix">
      <li class="game" ng-repeat="game in games" ng-class="{started: gameStarted(game)}">
        {{game.away_team}} @ {{game.home_team}} <br/>  on {{game.game_time | shortFormTime}} <br/> {{game.network}}
      </li>
    </ul>
  </div>

  <p class="alert alert-info" ng-show="market.state == 'published'">
    This market's bell hasn't rung yet. That means all prices are indicative. This helps keep our market fair. <a class="" href="/#rules">Learn More</a>.
  </p>

  <div ng-show="rosters.currentRoster.contest_id && inThePast(market.started_at)">
    <table class="table table-striped">
      <thead>
        <th>Rank</th>
        <th>User</th>
        <th>Payout</th>
        <th>Points</th>
      </thead>
      <tbody>
        <tr ng-repeat="roster in leaderboard">
          <td>{{roster.contest_rank}}</td>
          <td>{{roster.owner_name}}</td>
          <td>{{roster.contest_rank_payout}}</td>
          <td>{{roster.score}}</td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="team-selection clearfix">
    <div ng-include="'/team.html'"></div>
    <div ng-include="'/players.html'"></div>
  </div>
  
  <div class="cta-container clearfix">
    <a class="btn btn-large btn-contest-cta btn-success" ng-click="rosters.submit()" href="javascript://" ng-show="isValidRoster() && rosters.currentRoster.state == 'in_progress'">Submit this roster</a>
    <a class="btn btn-large btn-contest-cta btn-success" ng-click="rosters.reset('/market/' + rosters.currentRoster.market_id)" href="javascript://" ng-show="isValidRoster() && rosters.currentRoster.state == 'submitted'">Finish</a>
  </div>
</div>
