<div ng-show="rosters.currentRoster"> 
  <div class="contest-info">
    <div class="relative clearfix">
      <a href="javascript://" class="btn btn-inverse btn-cancel-entry" ng-show="rosters.inProgressRoster" ng-click="rosters.cancel()">Cancel entry</a>
      <img ng-src="/assets/icon-{{rosters.currentRoster.contest_type.name}}.png" class="contest-info-image" />
      <div class="contest-info-description">
        <h2>{{rosters.currentRoster.contest_type.description}}</h2>
        <ul>
          <li>Starts: {{markets.currentMarket.started_at | shortFormTime }}</li>
          <li>Timeframe: {{markets.currentMarket.name}}</li>
          <li>Entries: {{rosters.currentRoster.contest_type.max_entries}}</li>
          <li>Buy-in: {{rosters.currentRoster.contest_type.buy_in | centsToDollars }}</li>
          <li>Format: Winner take all
          <li ng-show="rosters.currentRoster.contest_rank">Rank: {{rosters.currentRoster.contest_rank | ordinal }} of {{rosters.currentRoster.contest.num_rosters}}</li>
      </div>
    </div>

    <ul class="games clearfix">
      <li class="game" ng-repeat="game in games" ng-class="{started: gameStarted(game)}">
        {{game.away_team}} @ {{game.home_team}} <br/> {{game.networkl}} on {{game.game_time | shortFormTime}}
      </li>
    </ul>
  </div>

  <p ng-show="market.state == 'published'">This market's bell hasn't rung yet - that means all prices are indicative. This helps keep our market fair. <a href="/#rules">Learn more</a></p>

  <ul>
    <li ng-class="{'selected-filter': filter =='positions'}"><a href="javascript://" ng-click="filter = 'positions'">Positions</a></li>
    <li ng-class="{'selected-filter': filter =='games'}"><a href="javascript://" ng-click="filter = 'games'">Games</a></li>
    <li ng-class="{'selected-filter': filter =='search'}"><a href="javascript://" ng-click="filter = 'search'">Search</a></li>
  </ul>

  <div class="team-selection clearfix">
    <div class="players">
      <input ng-show="filter == 'search'" type="text" ng-model="name" ng-change="filterPlayers({autocomplete: name})"/>

      <div class="dropdown" ng-show="filter == 'games'">
        <button class="btn btn-primary btn-huge" dropdown-toggle="game-dropdown">Games<span class="caret"></span></button>
        <ul class="dropdown-menu dropdown-inverse">
          <li ng-repeat="game in notStartedGames()" ng-model="game">
            <a href="javascript://" ng-click="filterPlayers({game: game.id})">{{game.away_team}} @ {{game.home_team}}</a>
          </li>
        </ul>
      </div>

      <ul ng-show="filter == 'positions'" class="positions-list clearfix">
        <li class="position-item" ng-repeat="position in rosters.uniqPositionList">
          <a class="position-link" ng-click="filterPlayers({position: position})" href="javascript://">{{position}}</a>
        </li>
      </ul> 

      <div class="players-area">
        <h4 class="player-heading">Available Players</h4>
        <div class="player-overflow">
          <table class="players-table">
            <thead>
              <tr>
                <th ng-click="sort('status')">Status</th>
                <th ng-click="sort('name')">Name</th>
                <th ng-click="sort('position')">Position</th>
                <th ng-click="sort('team')">Team</th>
                <th ng-click="sort('ppg')">PPG</th>
                <th ng-click="sort('salary')">Salary</th>
                <th>Add</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="player in players | filter:notInRoster">
                <td>{{player.status}}</td>
                <td>{{player.name}}</td>
                <td>{{player.position | dashIfDEF}}</td>
                <td>{{player.team}}</td>
                <td>{{player.ppg}}</td>
                <td>{{player.buy_price}}</td>
                <td><a class="btn btn-small btn-success" href="javascript://" ng-click="rosters.addPlayer(player)">Add</a></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>

    <div class="roster"> 
      <div class="roster-heading">
        <div class="salary-cap" ng-class="{broke: rosters.currentRoster.remaining_salary <= 0}">Salary Remaining: {{rosters.currentRoster.remaining_salary}}</div>
      </div>
      <div class="roster-area">
        <h4 class="player-heading">Your Roster</h4>
        <div class="roster-overflow">
          <table class="roster-table">
            <thead>
              <tr>
                <th>Position</th>
                <th>Name</th>
                <th><span ng-show="market.state == 'published'">Market</span><span ng-hide="market.state == 'published'">Purchase</span> Price</th>
                <th ng-show="market.state != 'published'">Price Differential</th>
                <th>Trade</th>
                <th ng-show="inThePast(market.started_at)">Score</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="player in rosters.currentRoster.players">
                <td>{{player.position}}</td>
                <td>{{player.name}}</td>
                <td>
                  <span ng-show="market.state == 'published' || rosters.currentRoster.state == 'in_progress'">{{player.buy_price | emptyIfZero }}</span>
                  <span ng-hide="market.state == 'published' || rosters.currentRoster.state == 'in_progress'">{{player.purchase_price | emptyIfZero }}</span>
                </td>
                <td ng-show="market.state != 'published'">{{player.sell_price - player.purchase_price }}</td>
                <td>
                  <span ng-show="player.id && market.state == 'opened' && player.locked" href="javascript://">Locked</span>
                  <a ng-show="player.id && market.state == 'opened' && !player.locked" href="javascript://" ng-click="rosters.removePlayer(player)">Sell</a>
                  <a ng-show="player.id && market.state != 'opened'" href="javascript://" ng-click="rosters.removePlayer(player)">Remove</a>
                </td>
                <td ng-show="inThePast(market.started_at)">{{player.score}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  
  <div class="cta-container clearfix">
    <a class="btn btn-large btn-contest-cta btn-success" ng-click="rosters.submit()" href="javascript://" ng-show="isValidRoster() && rosters.currentRoster.state == 'in_progress'">Submit this roster</a>
    <a class="btn btn-large btn-contest-cta btn-success" ng-click="rosters.reset('/market/' + rosters.currentRoster.market_id)" href="javascript://" ng-show="isValidRoster() && rosters.currentRoster.state == 'submitted'">Finish</a>
  </div>
</div>

