<h4>MLB Scoring Scoring</h4>

<h5>For Pitchers:</h5>
<ul>
    <li>10 pts per Strike Out</li>
    <li>-10 pts per Earned Run</li>
    <li>10 pts per Inning Pitched</li>
    <li>40 pts per Home run</li>
    <li>40 pts per Win</li>
    <li>-5 for for a hit or walk or hbp (hit by pitch)</li>
</ul>

<h5>For Hitters:</h5>
<ul>
    <li>10 pts per Single</li>
    <li>20 pts per Double</li>
    <li>30 pts per Triple</li>
    <li>40 pts per Home run</li>
    <li>10 pts per Walk</li>
    <li>10 pts per Hit By Pitch</li>
    <li>10 pts per Run</li>
    <li>10 pts per Run Batten In</li>
    <li>20 pts per Stolen Base</li>
    <li>-2.5 pts per Out </li>
</ul>
