<h3>Rules and Scoring</h3>
<p>Predict That is a weekly and daily predict thats skill game. You choose a new team every contest, up to a $100,000 salary cap, with player pricing based on market demand.</p>

<h4>Markets</h4>
<p>Prices are set based on user demand for each player, the more demand for a player, the higher the price goes.</p>

<p><strong>Opening Period:</strong> There is an opening period during which player prices are first determined. During this period, which will start after the Monday night game in Football (for example) and last until 9pm pst on Tuesday, the prices shown for players will only be indicative and not fixed. At the Opening  (9pm pst on Tuesday) the prices for all players on rosters will be set to that price as though the players were purchased at that time.</p>

<p>After the Opening, all player’s prices are fixed when you purchase them. You can change your roster and trade back a player who is not locked (playing) and receive his current price and then purchase another player. If you purchase a player and then sell him back at a profit, it will raise your salary cap by that amount. Similarly, if you do so at a loss it will reduce your salary cap by that amount.</p>

<p>Players are locked into your roster the minute their team begins its game. Up until that time you can trade back that player for any other unlocked player.</p>

<h4>Salary Cap</h4>
<p>While we call $100,000 the salary cap, it is not fixed. If you exceed the salary cap, we simply reduce the predict stats your team produces by the percent you exceeded the salary cap. Similarly, if you are below the salary cap we will increase your team’s predict stats by a maximum of 3%, ie., for any team salaries $97,000 or more.</p>
