<h3>Rules and Scoring</h3>

<h4>NFL</h4>
<h5>Offense:</h5>
<h6>Quarterbacks (QB), Running Backs (RB), Wide Receivers (WR), Tight Ends (TE)</h6>
<ul>
  <li>6 pts per rushing or receiving TD</li>
  <li>6 pts for player returning kick/punt for TD</li>
  <li>6 pts for player returning or recovering a fumble for TD</li>
  <li>4 pts per passing TD</li>
  <li>2 pts per rushing or receiving 2 pt conversion  (note: teams do not receive points for yardage gained during the conversion)</li>
  <li>2 pts per passing 2 pt conversion</li>
  <li>1 pt  per 10 yards rushing or receiving</li>
  <li>1 pt  per 25 yards passing</li>
  <li>-2 pts per intercepted pass</li>
  <li>-2 pts per fumble lost</li>
</ul>

<!--Bonus Points
   2 pts per rushing or receiving TD of 40 yards or more
   2 pts per passing TD of 40 yards or more
   (note: the player must score a touchdown to score the points)-->

<h6>Kickers (K)</h6>
<ul>
  <li>5 pts per 50+ yard FG made</li>
  <li>4 pts per 40-49 yard FG made</li>
  <li>3 pts per FG made, 39 yards or less</li>
  <li>2 pts per rushing, passing, or receiving 2 pt conversion</li>
  <li>1 pt  per Extra Point made</li>
  <li>-2 pts per missed FG (0-39 yds)</li>
  <li>-1 pt  per missed FG (40-49 yds) (a missed FG includes any attempt that is blocked, deflected, etc.)</li>
</ul>

<h6>Defensive/Special Teams (D)</h6>
<ul>
  <li>10  pts for 0 points allowed</li>
  <li>7 pts for 2-6 points allowed</li>
  <li>4 pts for 7-13 points allowed</li>
  <li>1 pt  for 14-17 points allowed</li>
  <li>0 pts for 18-21 points allowed  (note: team defense is responsible for all points allowed)</li>
  <li>-1  pts for 22-27 points allowed</li>
  <li>-4  pts for 28-34 points allowed</li>
  <li>-7  pts for 35-45 points allowed</li>
  <li>-10 pts for 46+ points allowed</li>
  
  <li>3 pts per defensive or special teams TD</li>
  <li>2 pts per interception</li>
  <li>2 pts per fumble recovery (Note: includes a fumble by the opposing team out of the end zone)</li>
  <li>2 pts per blocked punt, PAT, or FG (Note: a deflected kick of any kind does not receive points)</li>
  <li>2 pts per safety</li>
  <li>1 pt  per sack</li>
</ul>
