<%= render partial: 'templates/rules_general' %>
<div ng-show="currentUser.currentSport == 'NFL'">
  <%= render partial: 'templates/rules_nfl' %>
</div>

<div ng-show="currentUser.currentSport == 'NBA'">
  <%= render partial: 'templates/rules_nba' %>
</div>
