<div ng-controller="SampleRosterController">


  <flex-slider class="carousel" repeat="market in marketService.upcoming track by market.id | orderBy:market.id:reverse=false" animation="slide" controlNav="false" animation-loop="false" slideshow="false"  item-width="151" item-margin="0">
    <li class="market-li" ng-class="{'landing-border': $last }">
      <a ng-click="reloadRoster(market.id)" class="market-link" ng-class="{'active-market': market.id == roster.market.id }">
        <strong>{{market.name}}</strong>
        <p>{{market.games[0].game_time | onlyFormTime}}</p>
      </a>
    </li>
  </flex-slider>

  <div class="roster-area">
    <div class="loading-message" ng-hide="!marketService.currentMarket || roster">
      <img src=<%= asset_path 'ajax-throbber.gif' %>/>
      <h4>We're Building you a Custom Roster</h4>
    </div>
    <div class="loading-message" ng-hide="marketService.currentMarket">
      <h4>{{gameNotFound}} </h4>
    </div>

    <div class="roster-overflow" ng-show="roster">
      <ul class="no-no">
        <li ng-class="{'no-border': $index == 6 || $last }" class="mr-item clearfix" ng-repeat="player in roster.players">
          <div ng-show="player.position != 'DEF'" class="mr-player-image" ng-class="{'benched-image': player.benched}" ng-style="{'background-image': player.headshot_url && ('url(' + player.headshot_url +')')}"><span ng-show="player.benched" class="benched-icon">B</span></div>
          <div ng-show="player.position == 'DEF'" class="mr-player-image defense filled"></div>

          <div class="mr-player-info">
            <h3 class="mr-player-name" >{{player.name}}</h3>
            <span class="mr-stats">{{player.team}} {{player.position}} ({{player.ppg | number:2 | zeroIfEmpty}} PPG)</span>
            <span class="mr-stats" >
              <span>
                ${{player.buy_price | number:0}}
              </span>
            </span>
          </div>
					<div class="prediction">
						<p ng-hide="player.benched || !player.ppg" ng-click="playerStats(player)">PT</p>
					</div>
        </li>
      </ul>
    </div>

  </div>
    <div class="text-center roster-area-footer" ng-show="roster">
      <p>
        <a href="javascript://" class="btn btn-large btn-success" ng-click="signUpModal('Sign up to claim this roster.', {claim_roster: roster.id})">enter roster to win 100 fanbucks</a>
        <a href="javascript://" class="btn btn-large btn-info" ng-click='reloadRoster(roster.market.id)'>get new lineup</a>
      </p>
      <p style="text-align: left">You will be able to trade, adjust, and change your lineup at will until the game begins.</p>
    </div>

  <div ng-show="roster" class="landing-ind-prediction">
    <p class="individual-predict">or you can make individual predictions</p>
    <div class="landing-player-pos clearfix">
      <div class="clearfix inline-block" ng-show="player.position != 'DEF'">
        <div class="mr-player-image" ng-class="{filled: player.id}" ng-style="{'background-image': player.headshot_url && ('url(' + player.headshot_url +')')}"></div>
        <p><i>{{player.name}}</i></p>
      </div>
      <div ng-show="player.position == 'DEF'">
        <p><i>{{player.name}}</i></p>
        <div class="mr-player-image defense filled"></div>
      </div>
    </div>
    <div>
      <ul class="no-no landing-ind-list clearfix">
        <li ng-repeat="stat in events">
          <p class="pull-left">{{stat.name}} : {{stat.value}}</p>
          <div class="pull-right">
            <a href="javascript://" ng-click="signUpModal()" class="btn prediction-less" popover-trigger="mouseenter" popover="PT{{stat.less_pt | toFixed}}, predict correctly and win {{stat.less_pt | toFixed}}FB" popover-placement="top">less</a>
            <a href="javascript://" ng-click="signUpModal()" class="btn prediction-more" popover-trigger="mouseenter" popover="PT{{stat.more_pt | toFixed}}, predict correctly and win {{stat.more_pt | toFixed}}FB" popover-placement="top">more</a>
          </div>
        </li>
      </ul>
    </div>
    <div style="margin-top: 10px;">Click on the PT icon to change the player to predict</div>
  </div>
</div>