<div ng-controller="SampleRosterController" class="roster"> 
  
  <div class="roster-area">
    <div class="clearfix hide">
      <h4 class="team-heading inline-heading">Sign Up to Claim THIS Roster</h4>
      
    </div>
    <div class="loading-message" ng-hide="roster">
      <img src=<%= asset_path 'ajax-throbber.gif' %>/>
      <h4>We're Building you a Custom Roster</h4>
    </div>

    <div class="roster-overflow">

      <ul class="no-no">
        <li class="mr-item clearfix" ng-repeat="player in roster.players">
          <div ng-show="player.position != 'DEF'" class="mr-player-image" ng-class="{filled: player.id}" ng-style="{'background-image': player.headshot_url && ('url(' + player.headshot_url +')')}"></div>
          <div ng-show="player.position == 'DEF'" class="mr-player-image defense filled"></div>

          <div class="mr-player-info">
            <h3 class="mr-player-name" >{{player.name}}</h3>
            <span class="mr-stats">{{player.team}} {{player.position}} ({{player.ppg | number:2 | zeroIfEmpty}} PPG)</span>
            <span class="mr-stats" >
              <span>
                ${{player.buy_price | number:0}}
              </span>
            </span>
          </div>

          <div class="mr-player-cta">
              <a class="btn btn-small btn-orange" href="javascript://" ng-click="signUpModal()">Trade</a>
          </div>
        </li>
      </ul>
    </div>

  </div>
    <div class="text-center">
      <p><a href="javascript://" class="btn btn-large btn-danger" ng-click='signUpModal()'>Claim this roster!</a> <a href="javascript://" class="btn btn-large btn-success" ng-click='signUpModal()'>Start Over From Scratch!</a></p>
    </div>

</div>