<div ng-controller="SampleRosterController" class="roster">

  <ul class="clearfix landing-market-list" ng-show="marketService.upcoming">
    <li class="slider-prev" ng-click="prev()"></li>
    <li class="landing-market-li" ng-class="{'landing-border': $last }" ng-repeat="(i, market) in marketService.upcoming" ng-show="i == $slideIndex || i == $slideIndex + 1 || i == $slideIndex + 2">
      <a ng-click="reloadRoster(market.id)" class="landing-market-link" ng-class="{'active-market': isCurrent(market) }">
        <strong>{{market.name}}</strong>
      </a>
    </li>
    <li class="slider-next" ng-click="next()"></li>
  </ul>
  <div class="roster-area">
    <div class="loading-message" ng-hide="roster">
      <img src=<%= asset_path 'ajax-throbber.gif' %>/>
      <h4>We're Building you a Custom Roster</h4>
    </div>

    <div class="roster-overflow" ng-show="roster">

      <ul class="no-no">
        <li ng-class="{'no-border': $index == 6 || $last }" class="mr-item clearfix" ng-repeat="player in roster.players">
          <div ng-show="player.position != 'DEF'" class="mr-player-image" ng-class="{filled: player.id}" ng-style="{'background-image': player.headshot_url && ('url(' + player.headshot_url +')')}"></div>
          <div ng-show="player.position == 'DEF'" class="mr-player-image defense filled"></div>

          <div class="mr-player-info">
            <h3 class="mr-player-name" >{{player.name}}</h3>
            <span class="mr-stats">{{player.team}} {{player.position}} ({{player.ppg | number:2 | zeroIfEmpty}} PPG)</span>
            <span class="mr-stats" >
              <span>
                ${{player.buy_price | number:0}}
              </span>
            </span>
          </div>
        </li>
      </ul>
    </div>

  </div>
    <div class="text-center roster-area-footer">
      <p>
        <a href="javascript://" class="btn btn-large btn-success" ng-click="signUpModal('Sign up to claim this roster.', {claim_roster: roster.id})">enter roster to win 100 fanbucks</a>
        <a href="javascript://" class="btn btn-large btn-danger" ng-click='reloadRoster(true)'>get new lineup</a>
      </p>
      <p style="text-align: left">You will be able to trade, adjust change your line up at will until the game begins!</p>
    </div>

</div>
