<div ng-controller="LoginController">
  <div class='modal-header'>
    <h3 ng-hide="signInForm">Sign Up</h3>
    <h3 ng-show="signInForm">Sign In</h3>
  </div>
  <div class='modal-body'>
    <div class='alert alert-error' ng-show='errorMessage'>
      {{ errorMessage }}
    </div>
    <div class='pull-left inline-block mll mrl mbl'>
      <input type='text' placeholder='Name' ng-hide='signInForm' ng-model="user.name" class='mvm' /><br />
      <input type='text' placeholder='Email' ng-model="user.email" class='mvm' /><br />
      <input type='password' placeholder='Password' ng-model="user.password" class='mvm' tooltip="Must be at least 8 characters" tooltip-placement='right' tooltip-trigger='focus' /><br />
      <input type='password' placeholder='Confirm' ng-hide='signInForm' ng-model="user.password_confirmation" class='mvm'/><br />
      <div class='mvm' ng-hide='signInForm'>
        Have an account?&nbsp<a href="javascript://" ng-click="toggleSignInForm()">Sign In</a>
      </div>
      <div class='mvm' ng-show='signInForm'>
        Not a member?&nbsp<a href="javascript://" ng-click="toggleSignInForm()">Sign Up</a>
      </div>
    </div>
    <div class='pull-left inline-block mal'>
      <div class='mtl mbl inline-block'>Or, sign <span ng-hide='signInForm'>up</span><span ng-show='signInForm'>in</span> with facebook</div><br />
      <a href="javascript://" class="btn btn-oauth btn-social-facebook" ng-click="login('facebook')"><i class="icon fui-facebook"></i> Facebook</a>
    </div>
  </div>
  <div class='modal-footer'>
    <a href="javascript://" class="btn btn-primary" ng-hide='signInForm' ng-click="signUp()" ng-class="{ disabled: !isValid()}">Sign Up</a>
    <a href="javascript://" class="btn btn-primary" ng-show='signInForm' ng-click="login('email')">Sign In</a>
    <a href="javascript://" class="btn" ng-click="close()">close</a>
  </div>
</div>