<div ng-controller="LoginController">
  <div class='modal-header'>
    <h3>{{ title }}</h3>
  </div>
  <div class='modal-body clearfix'>
    <form>
      <p >{{message}}</p>
      <div class='modal-form-container'>
        <input type='text' placeholder='Username' ng-show='signUpForm' ng-model="user.username" class='mvm' /><br />
        <input type='text' placeholder='Real Name' ng-show='signUpForm' ng-model="user.name" class='mvm' /><br />
        <input type='text' placeholder='Email' ng-model="user.email" class='mvm' /><br />
        <input type='password' placeholder='Password' ng-show='!forgotPass' ng-model="user.password" class='mvm' tooltip="Must be at least 6 characters" tooltip-placement='right' tooltip-trigger='focus' /><br />
        <input type='password' placeholder='Confirm' ng-show='signUpForm' ng-model="user.password_confirmation" class='mvm'/><br />
        <div class='mvm' ng-hide='signInForm'>
          Have an account?&nbsp<a href="javascript://" ng-click="changeState('signInForm')">Sign In</a>
        </div>
        <div class='mvm' ng-hide='signUpForm'>
          Not a member?&nbsp<a href="javascript://" ng-click="changeState('signUpForm')">Sign Up</a>
        </div>
        <div class='mvm' ng-hide='forgotPass'>
          <a href="javascript://" ng-click="changeState('forgotPass')">Forgot Your Password?</a>
        </div>
      </div>
      <div class='modal-form-container secondary'>
        <div class='mtl mbl inline-block'>Or, sign <span ng-show='signUpForm'>up</span><span ng-show='signInForm'>in</span> with facebook</div><br />
        <a href="javascript://" class="btn btn-oauth btn-social-facebook" ng-click="login('facebook')"><i class="icon fui-facebook"></i> Facebook</a>
      </div>
    </div>
    <div class='modal-footer'>
      <a href="javascript://" class="btn btn-primary" ng-show='signUpForm' ng-click="signUp()" ng-class="{ disabled: !isValid()}">Sign Up</a>
      <a href="javascript://" class="btn btn-primary" ng-show='signInForm' ng-click="login('email')">Sign In</a>
      <a href='javascript://' class='btn btn-primary' ng-show='forgotPass' ng-click='resetPassword()'>Send Instructions</a>
      <a href="javascript://" class="btn" ng-click="close()">close</a>
    </div>
  </form>
</div>
