  <div class='modal-header'>
    <h3>{{player.name}} Fantasy Points</h3>
  </div>
  <div class='modal-body clearfix'>
    <img class="stats-headshot" ng-src="{{player.headshot_url}}" style="float: left">
    <div class="stats-list">
      <h4 class="stats-total">{{totalPoints()}} Points</h4>
      <ul>
        <li ng-repeat="stat in playerStats">
          {{stat.activity}}: {{stat.point_value}}
        </li>
      </ul>
    </div>
  </div>
  <div class='modal-footer'>
    <a href="javascript://" class="btn" ng-click="close()">close</a>
  </div>
