<h3>How it Works</h3>

<p>
  PredictThat has many different events to Predict. They fall into two types, Fantasy and non-Fantasy. The Fantasy events will have a Salary Cap, typically $100,000 and each of the players will have a salary that is based on their expected fantasy point production. In non-Fantasy, choices will be made without any consideration of salary or other constraints other than positional requirements.
</p>
<h3>
  On PredictThat we have predictions in two formats, Rosters and Individual predictions
</h3>
<p>
  Roster Predictions
</p>
<p>
  In a roster prediction, you pick from among the choices given to you a roster of predictions. The predictions might have to fit a positional requirement like qb rb wr for football or p 1b 3b for baseball or best picture, best actor, best actress for the oscars. In a roster prediction you are competing against other users for fanbuck prediction prizes and the winner is based on which roster scores the most fantasy points. In Fantasy, the fantasy points will be based on the statistics the players on your roster produced and the rules in effect for that sport. In non-fantasy, the fantasy points will be assigned up front as the PT value for that choice.
</p>
<h3>
  Individual Predictions PT Values
</h3>
<p>
  With each set of choices available, each choice will be available for an individual Prediction. In non-Fantasy there will be a stated PT Value for each choice and if you Predict That choice and are correct then that is the number of Fanbucks you will be awarded. To predict an individual performance, you press the PT button next to the player and it will show you various statistics with a more or less button next to it. Scroll over the more or less button and it will tell you the PT value of that prediction. In each case, if you are right, you will be awarded the PT value in Fanbucks.
</p>
<h3>
  Prediction Charge
</h3>
<p>
  For every Prediction that you make, roster or individual, you are charged 15 Fanbucks when the event happens.
</p>
<h3>
  Fanbucks
</h3>
<p>
  Fanbucks are a virtual currency with no value outside of the PredictThat website. They are used to accumulate awards and prediction charges. If at the end of the calendar month, after calculating any related Givebacks (<a target="_blank" href="/conditions">see terms and conditions</a>), your account has a positive Fanbuck balance, we will deposit the same amount as that balance in dollars into your PredictThat account balance and set your Fanbuck balance back to zero. If your Fanbuck balance is negative for the calendar month, it will be restarted at zero Fanbucks.
</p>
<h3>
  Roster Predictions and Auto Fill
</h3>
<p>
  Roster Predictions will have a fixed number of users competing for the awards. If there are less than the fixed number of users, the site will generate random rosters from the choices available to fill out the required number of users. This auto fill function is the same one as if you were to hit the autofill button for your own roster.
</p>
<h3>
  Fantasy Salaries , Market Pricing, and Trading
</h3>
<p>
  Fantasy salaries are initially set based on a projection of what the player's statistics are likely to be in the event being predicted. The salaries will then adjust based on the demand of users for each player. Once you have selected a player, you "own" him for that salary. You can trade (exchange) the player back for another player at any time up until the event begins. If the player salary has increased, you will record a "profit" and your salary cap will be increased by the difference. Similarly, if the player's salary has decreased, you will record a "loss" and your salary cap will be decreased by the difference.
</p>
<p>
  Trading in non-Fantasy roster events will be allowed at any time up until the event happens. Individual predictions will not have any trading, once a prediction is made it is final.
</p>
<h3>
  Prestige
</h3>
<p>
  Prestige is a virtual currency that has no value except on PredictThat.When you correctly make a Prediction, you are awarded a certain amount of Fanbucks and the same amount will be added to your Prestige. PredictThat will regularly recognize and reward users with high levels of Prestige.
</p>
<h3>
  Creating a League
</h3>
<p>
  Instead of participating in a roster prediction against other public users on the site, you can create a league with your friends who will all make predictions in the same event. If you don't fill the league to the fixed number of users, PredictThat will add autofilled rosters to fill the league. (Temporarily disabled)
</p>
<h3>
  Players not playing - Substitutions
</h3>
<p>
  If you choose a player in a roster prediction and he hasn't played in the first half in basketball, or he doesn't start in baseball, we will substitute another player in the same event with approximately the same salary. That player will be marked with an S for substitution. If a player doesn't play in an individual prediction, the prediction is cancelled and no prediction charge and no award will occur. For purposes of basketball if a player plays for 6 minutes or less, it will be considered that he didn't play and the prediction will be cancelled . For baseball, if a player does not start, it will likewise be considered that he didn't play and the prediction will be cancelled.
</p>
<h3>
  Salary Cap
</h3>
<p>
  While we call $100,000 the salary cap, it is not fixed. If you exceed the salary cap, we simply reduce the fantasy points you team produces by the percent you exceeded the salary cap. Similarly, if you are below the salary cap, we will increase your team's fantasy points by a maximum of 3%, ie. If your salary is 5% below we will only boost your team's fantasy points by 3%.
</p>
<h3>
  World Cup
</h3>
<p>All ties in World Cup games give 50% of the PT to each predictor of either team involved in the tie.</p>
