<div class="alert alert-error">
  <h3>Need Some Help?</h3>
  <p>The fastest way to find help is our FAQ. If you can't find an answer please feel free to submit a support request and a representative will respond ASAP.</p>

  <form class="clearfix no-no">
    <div flash-alert active-class="alert in" class="flash fade" >
      <strong class="alert-heading"></strong>
      <span class="alert-message">{{flash.message}}</span>
    </div>
    <div>
      <input type='text' placeholder='Message Title' class='mvm span7' /><br />
      <input type='email' placeholder='Email' class='mvm span7' value="{{currentUser.email}}"/><br />
      <textarea class="mvm span7" placeholder="Your Message Here"></textarea>
      
      <p><a href="javascript://" class="btn btn-danger btn-create-contest" ng-class="{ disabled: !isValid()}">Submit Support Request</a></p>
    </div>
  </form>

</div>

<h4>FAQ</h4>

<p>Q: How do I play?<br>
A: Choose your contest. You have $100,000 to build a team of players who you think will score more fantasy points in that contest than your opponent(s)</p>
<p>Q: How long do the contests last?<br>
A: Some contests last just a day others last up to a week. It will say on the contest entry.  The prizes are awarded to the winner(s) once the final scores have been tallied.<br>
<p>Q: How is the distribution of prizes decided?<br>
A: Each contest will explicitly detail the prize structure with either winner take all or some broader distribution of prizes.</p> 
<p>Q: How many players do I need to choose to play?<br>
A: Depending on the sport and contest it will detail a roster that needs to be filled out. The position requirements are further described in rules and scoring for the appropriate sport. For legality, you must pick at least 3 players on 2 different teams.</p>
<p>Q: How are fantasy points calculated?<br>
A: Each sport will have its own scoring. Link to rules and scoring...</p>
<p>Q: How are the prices determined for each player?
A: Prices are set based on user demand for each player, the more demand for a player, the higher the price goes.</p>
<p>Q: What is the Opening Period?<br>
A: There is an opening period during which player prices are first determined. During this period, which will start after the Monday night game in Football (for example) and last until 9pm pst on Tuesday, the prices shown for players will only be indicative and not fixed. At the Opening  (9pm pst on Tuesday) the prices for all players on rosters will be set to that price as though the players were purchased at that time.</p>
<p>Q: What happens after the Opening?<br>
A: After the Opening, all player’s prices are fixed when you purchase them.</p> 
<p>Q: Can I sell players back and buy other players?<br>
A: Yes, at any time you can change your roster and trade back a player who is not locked (playing) and receive his current price and then purchase another player.</p>
<p>Q: When are players locked into your roster?<br>
A: Players are locked into your roster the minute their team begins its game. Up until that time you can trade back that player for any other unlocked player.</p>
<p>Q: What happens if I exceed the salary cap?<br>
A: While we call $100,000 the salary cap, it is not fixed. If you exceed the salary cap, we simply reduce the fantasy stats your team produces by the percent you exceeded the salary cap. Similarly, if you are below the salary cap we will increase your team’s fantasy stats by a maximum of 3%, ie., for any team salaries $97,000 or more.</p>
<p>Q: What happens when I make a profit or loss on a player?<br>
A: If you purchase a player and then sell him back at a profit, it will raise your salary cap by that amount. Similarly, if you do so at a loss it will reduce your salary cap by that amount.</p>
<p>Q: How do I create a league?<br>
A: One option FMF gives you is to create a private contest in which you choose one of our formats and invite friends to join you. The formats are double up, where half the entrants win almost double their entry, or winner take all, or 10 team head to head round robin, where each team faces each other team head to head. These can be played for free or for stated entries. We will only allow your invited friends into the contest until 9am pacific time on Sunday, at which time we will fill the contest with other public contestants to make sure it runs.</p>
