    <div class="roster"> 
      <div class="roster-area">
        <div class="clearfix">
          <h4 class="team-heading inline-heading">Roster</h4>
          <div class="salary-cap score" ng-show="inThePast(market.started_at)" highlight-changes="roster">Team Score: {{roster.score | zeroIfEmpty}}
          </div>
        </div>

        <div class="roster-overflow">
            
          <ul class="no-no" highlight-changes-in-list="roster.players" key-to-watch="score">
            <li class="mr-item clearfix" ng-repeat="player in roster.players">
            <div ng-show="player.id" class="mr-player-image" ng-class="{filled: player.id}" ng-style="{'background-image': 'url(' + player.headshot_url +')'}"></div>
              <div ng-hide="player.id" class="mr-player-image"></div>
              
              <div class="mr-player-info">
                <h3 class="mr-player-name" ng-show="player.id">{{player.name}}</h3>
                <h3 class="mr-player-name not-selected" ng-hide="player.id">{{player.position}} Not Selected</h3>
                <span class="mr-stats" ng-show="player.id">{{player.team}} {{player.position}} ({{player.ppg | zeroIfEmpty}} PPG)</span>
                <span class="mr-stats" ng-show="player.id">
                  <span ng-show="isInPlay(roster)">
                    ${{player.purchase_price | number:0}}
                  </span>
                  <span ng-show="!isInPlay(roster)">
                    ${{player.buy_price | number:0}}
                  </span>
                  <span ng-show="market.state != 'published' && roster.state != 'in_progress'">
                    (<span class="diff" ng-class="{negprice: (player.sell_price - player.purchase_price) < 0}">
                    {{((player.sell_price - player.purchase_price) / player.purchase_price) * 100 | number:2}}%
                    </span>)
                  </span>
                </span>
              </div>
              
              <div class="mr-player-cta">
                <p class="mr-player-score" ng-show="inThePast(market.started_at)"><a href="javascript://" tooltip-trigger="mouseenter" ng-mouseover="fetchPlayerStats(player)" tooltip-html-unsafe="{{statsContent()}}">{{player.score}}</a></p>
                <a class="btn btn-small btn-orange" ng-show="roster.owner_id == currentUser.id && player.id && (market.state == 'published' || market.state == 'opened' && !player.locked)" href="javascript://" ng-click="rosters.removePlayer(player)">Trade</a>
                <a class="btn btn-small btn-success" ng-show="!player.id" ng-click="filterPlayers({position: player.position}, true)" href="javascript://">Add {{player.position}} ></a>
              </div>
            </li>
          </ul>
        </div>

      </div>
    </div>
