<div class='modal-header'>
  <h3 class='inline-block'>Bank Account</h3>
  <p class='inline-block pull-right'>
    Balance: <span class='balance'>{{ currentUser.balance | centsToDollars }}</span>
  </p>
</div>
<div class='mal centered' ng-hide='loaded'>
  <img src='/assets/ajax-loader-big.gif'>
</div>
<div class='modal-body' ng-show='loaded'>
  <form >
    <div flash-alert active-class="alert in" class="flash fade" >
      <strong class="alert-heading"></strong>
      <span class="alert-message">{{flash.message}}</span>
    </div>
    <div ng-show='!currentUser.confirmed'>
      <div class='alert alert-error'>
        In order with withdraw funds, you must first confirm your email address.
      </div>
      <a href="javascript://" ng-click='resendConfirmation()'>Click here</a> to re-send the confirmation email.
    </div>
    <div ng-show='showAddNewAccount()'>
      <h6>Add a New Account for Deposits<h6>
      <input type="text" class='account-name' placeholder="legal name" ng-model="newRecipient.name"/><br />
      <input type="text" class='account-number' placeholder="account number" ng-model="newAccount.accountNumber"/><br />
      <input type="text" class='account-routing' placeholder="routing" ng-model="newAccount.routingNumber"/><br />
      <a href="javascript://" ng-click="createRecipient()" ng-hide='saveAcctSpinner' class='btn btn-primary account-create'>Save</a>
      <img src='/assets/ajax-loader-micro.gif' ng-show='saveAcctSpinner'/>
    </div>
    <div ng-show='recipient'>
      <ul class='unstyled recipient'>
        <li class='pull-right clickable' ng-click="showConfirm = true">x
          <div ng-show="showConfirm" class='recipient-confirm-delete popover right'>
            <div class='arrow'>
            </div>
            <h3 class='popover-title'>Are you sure?</h3>
            <div class='popover-content'>
              <a class='btn btn-mini btn-danger mtm' ng-hide='deleteRecipientSpinner' ng-click='deleteRecipient()'>Yes, delete</a>
              <img src='/assets/ajax-loader-micro.gif' ng-show='deleteRecipientSpinner'/>
              <a class='btn btn-mini btn-default mtm' ng-click="showConfirm = false">No, cancel</a>
            </div>
          </div>
        </li>
        <li>{{ recipient.legal_name }}</li>
        <li>{{ recipient.bank_name }}</li>
        <li>{{ recipient.last4 }}</li>
      </ul>
      <div class='inline-block mll'>
        Withdraw some money:<br />
        $ <input type='text' ng-model="withdrawAmount" focus-me='focusAmount' class='withdraw-amount'>
        <img src='/assets/ajax-loader-micro.gif' ng-show='startTransferSpinner'/>
        <a hreft="javascript://" ng-click='initiateTransfer()' class='btn btn-primary' ng-hide='startTransferSpinner'>Start Transfer</a>
      </div>
    </div>
  </form>
</div>
<div class='modal-footer'>
  <a href="javascript://" class="btn" ng-click="close()">close</a>
</div>
