<div class='modal-header'>
  <h3 class='inline-block'>Your Bank Account</h3>
  <p class='inline-block pull-right'>
    Balance: <span class='balance'>{{ currentUser.balance | centsToDollars }}</span>
  </p>
</div>
<div class='mal centered' ng-hide='loaded'>
  <img src='/assets/ajax-loader-big.gif'>
</div>
<div class='modal-body' ng-show='loaded'>
  <div class='alert alert-error' ng-show='errorMessage'>
  <div class='pull-right muted clickable' ng-click='errorMessage = null'> x </div>
    {{ errorMessage }}
  </div>
  <div class='alert alert-success' ng-show='successMessage'>
    <div class='pull-right muted clickable' ng-click='successMessage = null'> x </div>
    {{ successMessage }}
  </div>
  <div ng-show='!recipient'>
    <h6>Add a New Account for Deposits<h6>
    <input type="text" class='account-name' placeholder="legal name" ng-model="newRecipient.name"/><br />
    <input type="text" class='account-number' placeholder="account number" ng-model="newAccount.accountNumber"/><br />
    <input type="text" class='account-routing' placeholder="routing" ng-model="newAccount.routingNumber"/><br />
    <a href="javascript://" ng-click="createRecipient()" class='btn btn-primary account-create'>Save</a>
  </div>
  <div ng-show='recipient'>
    <ul class='unstyled recipient'>
      <li>{{ recipient.legal_name }}</li>
      <li>{{ recipient.bank_name }}</li>
      <li>{{ recipient.last4 }}</li>
    </ul>
    <div class='inline-block mll'>
      Withdraw some money:<br />
      $ <input type='text' ng-model="withdrawAmount" class='withdraw-amount'>
      <a hreft="javascript://" ng-click='initiateTransfer()' class='btn btn-primary'>Start Transfer</a>
    </div>
  </div>
</div>
<div class='modal-footer'>
  <a href="javascript://" class="btn" ng-click="close()">close</a>
</div>
