<div >
  <div class="players-area">
    <div class="clearfix">
      <h4 class="team-heading inline-heading">Your Choices</h4>
    </div>

    <div class="roster-overflow">
      <ul class="no-no clearfix">
        <li class="world-cup-column pull-left" ng-repeat="list in world_cup_column" ng-class="{'add-bgc' : backgroundColor($index + 1)}">
          <div class="mr-team-flat pull-left" ng-style="{'background-image': list.logo_url && ('url(' + list.logo_url +')')}"></div></td>
          <span class="pull-left mr-player-name">{{list.name}}</span>
          <div class="prediction pull-right">
            <p ng-class="{'ip-btn-disable' : list.disable_pt}" ng-click="openCWorldCupPredictionDialog(list)">PT{{list.pt | toFixed}}
              <span ng-hide="list.disable_pt" popover-trigger="mouseenter" popover="{{list.name}} PT{{list.pt | toFixed}}, predict correctly and win {{list.pt | toFixed}}FB" popover-placement="{{($index%2)?'top right-centered':'top'}}"></span>
            </p>
          </div>
        </li>
      </ul>
    </div>

  </div>
</div>
