<div class="home-roster wc-groups-roster">
  <div class="roster-area">
    <div class="clearfix">
      <h4 class="team-heading inline-heading">Your Choices</h4>
      <ul class="positions-list clearfix">
        <li class="position-item" ng-repeat="group in types_games.win_groups" >
          <a class="position-link" ng-click="changeGroup($index)" ng-class="{selected: active_group_index == $index}" href="javascript://">{{group.name}}</a>
        </li>
      </ul>
    </div>

    <div class="roster-overflow clearfix">
      <div class="group-member pull-left" ng-repeat="team in active_group">
        <div class="team-flag" ng-style="{'background-image': team.logo_url && ('url(' + team.logo_url +')')}"></div>
        <div class="team-name">{{team.name}}</div>
        <div class="prediction">
          <p ng-hide="team.remove_pt" ng-class="{'ip-btn-disable' : team.disable_pt}" class="pt" ng-click="openCWorldCupPredictionDialog(team)">{{betAlias}}{{team.pt | toFixed}}
            <span ng-hide="team.disable_pt" popover-trigger="mouseenter" popover="{{team.name}} {{betAlias}}{{team.pt | toFixed}}, predict correctly and win {{team.pt | toFixed}}FB" popover-placement="top"></span>
          </p>
        </div>
      </div>
    </div>
  </div>

</div>
