@import "config";
@import "mixins";
@import "variables";

select, textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input {
  margin-bottom: 0;
}

h1, h2, h3, h4, h5 {
  font-family: @special;
  margin: 0;
}

body {
  background-color: @grayDark;
  color: @black;
}

a {
  color: @blue;
}

body.guide {
  background-color: @white;
}

.txt-white {
  color: @white;
}

.txt-green, .txt-green-hover:hover {
  color: @green;
}

.txt-red, .txt-red-hover:hover {
  color: @red;
}

.btn, .special {
  font-family: @special;
}

.tilt {
  font-family: @specialItalic;  
}

p {
  font-size: 15px;
  line-height: 1.3;
}

.btn {
  background-color: @blueDark;
}
.btn.btn-primary, .label-primary {
  background-color: @greenDark;
}
.btn.btn-success, .label-success {
  background-color: @green;
}
.btn.btn-warning, .label-warning {
  background-color: @orange;
  color: @black;
}
.btn.btn-danger, .label-danger {
  background-color: @red;
}

.landing-container {
  background-image: asset-url('bg-landing.jpg');
  -webkit-background-size: contain;
  -moz-background-size: contain;
  background-size: contain;
  min-height: 900px;
  width: 100%;
  background-position: top right;
  background-repeat: no-repeat;
}

.right-content {
  float: right;
  padding-top: 11%;
  text-align: center;
}

.login-buttons {
  width: 86%;
  padding: 3%;
  margin: 0 auto;
  background-color: rgba(250,250,250,0.7);
  color: black;
  .border-radius(6px);
  border: solid 2px rgba(0,0,0,0.3);
}

.sign-up-heading {
  font-size: 24px;
  margin-bottom: 14px;
  margin-top: 0;
  color: @redDark;
}

.sign-up-text {
  margin-bottom: 14px;
}

.fui-facebook {
  margin-right: 2px;
}

header {
  height: 246px;
  background-image: asset-url('bg-blur-big.png');
  background-repeat: no-repeat;
  background-position: center -470px;
  border-bottom: 3px solid @grayLight;
  position: relative;
  width: 100%;
  padding: 0;
}

.header-bottom {
  position: relative;
  top: 16px;
}

.user-container {
  height: 148px;
  .border-radius(8px 0 0 0);
  background-color: rgba(29,29,29,0.5);
  border-left: 1px solid @white;
  border-top: 1px solid @white;
}

.user-navigation {
}

.page-content {
  background-color: @white;
  position: relative;
  top: -178px;
  left: -30px;
  .border-radius(8px 8px 0 0); 
  .box-shadow(0 0 3px rgba(0,0,0,.6));
}

.overflow {
  overflow: visible;
}

.top-nav {
  height: 54px;
}

.logo-font {
  font-family: @special;
  color: @redDark;
  font-size: 34px;
  line-height: 68px;
  text-shadow: 1px 1px 0 @offWhite, -1px -1px 0 @offWhite, 1px -1px 0 @offWhite,
            -1px 1px 0 @offWhite, 3px 3px 5px @grayDark;
  display: inline-block;
}

.sub-title {
  font-style: italic;
  font-weight: 100;
  color: @white;
  line-height: 80px;
  margin-left: 8px;
}

.links {
  padding-right: 50px;
}

.logo-slash {
  font-family: @specialItalic;
  color: @red;  
}
.user-box {
  width: 90%;
  margin: 15px auto;
  padding-bottom: 12px;
  border-bottom: 1px solid @offWhite;
  overflow: hidden;
}

.user-avatar {
  .border-radius(2px);
  border: 1px solid @gray;
  float: left;
  width: 60px;
  margin: 0 12px 0 2px;
}
.user-info {
  float: left;
  max-width: 60%;
  text-align: left;
}

.user-name {
  font-size: 20px;
  color: @offWhite;
  display: block;
  font-weight: 400;
}

.user-alias {
  display: block;
  font-size: 16px;
  color: @offWhite;
  font-weight: 200;
  margin-bottom: 1px;
}

.user-logout {
  color: @grayLight;
  font-weight: 200;  
  font-size: 14px;
}

.user-dash {
  width: 90%;
  margin: 0 auto 12px;
  padding-bottom: 4px;
}

.user-balance {
  color: @offWhite;
  font-size: 16px;
  line-height: .8;
  margin-bottom: 2px;
  width: 48%;
  padding: 0 1%;
  float: left;
  border-right: 1px solid @grayLight;
  text-align: center;
}
.user-bonus {
  color: @orange;
  font-size: 16px;
  line-height: .8;
  width: 47%;
  padding: 0 1%;
  float: right;
}
.no-border {
  border: none;
  margin: 0 auto;
  .user-balance {
    border: none;
  }
  .user-bonus {
    width: 48%;
  }
}

.nav {
  width: 94%;
  padding: 0 3%;
  overflow: hidden;
  font-family: @special;
  font-size: 16px;
  color: @grayDark;
  background-color: @offWhite;
  .border-radius(0 0 0 8px);
  border-left: 1px solid @offWhite;
  border-bottom: 1px solid @offWhite;
}
.nav-item {
  line-height: 24px;
  padding: 8px;
  border-bottom: 1px solid @grayLight;
  a {
    color: @redDark;
  }
  a:hover {
    color: @red;
  }
}
.end {
  border-bottom: none;
}
.btn {
  padding: 9px 12px 8px;
}
.btn.btn-small {
  padding: 6px 13px 4px;
  color: @black;
}
.guide .btn.btn-small {
  color: @white;
}

.padded-content {
  width: 94%;
  padding: 3%;
}

.sign-up {
  margin: 20px 0;
}
/*
  Add Funds Modal
*/
.card {
  border: 2px solid @gray;
  .border-radius(4px);  
  background: mix(@inverse, @base, 90%);
  color: mix(@base, @inverse, 65%);
  padding: 5px;
  margin: 0 5px;
}
.default {
  border: 2px solid @turquoise;
  .border-radius(4px);
}
.card-list {
  margin-bottom: 20px;
}
.add-funds-input {
  width: 80px;
  margin: 0 10px;
}
.muted {margin-left: 24px;}
.add-card {
  font-size: 4em;
}
.credit-card {
  width: 50%;
  margin: auto;
}
.balance {
  font-size: 2em;
}
.card-cvc {
  width: 38px;
}
.card-zip {
  width: 50px;
}
.card-month {
  width: 55px;
}
.card-year {
  width: 55px;
}
.card-number {
  letter-spacing: 2px;
}
.delete-card {
  margin-top: -10px;
}
.card-confirm-delete {
  top: -36px;
  right: -203px;
}
.add-funds-container {
  margin: 10px 0;
}

/* Withdraw Funds Dialog */
.account-number {
  margin: 10px 0;
}
.account-routing {
  margin: 10px 0;
}
.account-name {
  margin: 10px 0;
}
.account-create {
  margin: 10px 0;
}
.recipient {
  background: mix(@firm, @alert-bg, 5%);
  padding: 10px;
  .border-radius(4px);
  display: inline-block;
  border: 2px solid mix(@firm, @alert-border, 5%);
}
.withdraw-amount {
  width: 50px;
}
.recipient-confirm-delete {
  left: 165px;
  top: -3px;
}
/* Games */
.market-container, .contest-info {
  border: 2px solid @grayDark;
  border-top: 0;
  .border-radius(0 0 4px 4px);
}
.contest-info {
  background-color: @offWhite;
  padding: 5px;
  margin-bottom: 10px;
  position: relative;
  border: 2px solid @grayDark;
  .border-radius(4px);
}
.roundTop {
  .border-radius(4px);
  border-top: 2px solid @grayDark;
}
.market-title, .roster-title {
  width: 96%;
  padding: 5px 2%;
  background-color: @grayDark;
}
.market-title {
  color: @white;
}
.roster-title {
  background-color: #e9e9e9;
  margin-bottom: 10px;
}

.market-list, .roster-list {
  list-style-type: none;
  width: 100%;
  padding: 0;
  margin: 0 0 10px;
  background-color: @grayDark;
}
.roster-list {
  background-color: @offWhite;
  margin-bottom: 0;
}
.market-link {
  float: left;
  width: 36%;
  margin: 0 1.5% 10px;
  height: 40px;
  padding: 20px 5%;
  border: 1px solid @gray;
  .border-radius(4px);
  text-align: center;
  background-color: @white;
  color: @gray;
  display: block;
}

.market-link {
  color: @gray;
}
.market-link:hover {
  color: @red;
  background-color: @nearWhite;
  border: 1px solid @red; 
}
.highlightMkt, .highlightMkt:hover {
  background-color: @gray;
  border: 1px solid @white;
  color: @white;
  cursor: default;
}
.contest-list {
  padding: 10px 20px;
}
.selected-market {
  color: @gray;
  margin-bottom: 10px;
}
.contest-classes {
  list-style-type: none;
  width: 22%;
  padding: 12px 0;
  margin: 0 1.5% 10px;
  .border-radius(4px);
  float: left;  
  text-align: center;
  background-color: #efefef;
}
.no-no {
  padding: 0;
  margin: 0;
}
.small-p {
  display: block;
  padding: 0 8px;
  font-size: 14px;
}
.contest-image {
  width: 50%;
  margin-bottom: 5px;
}
.enter-contest {
  list-style-type: none;
  margin-bottom: 6px;
}
.btn-contest {
  width: 60%;
}

.contest-info-image {
  width: 170px;
  margin-right: 8px;
  float: left;
}
.contest-info-description {
  float: left;
  max-width: 62%;
}
.btn.btn-cancel-entry {
  position: absolute;
  right: 10px;
  top: 10px;
  z-index: 100;
}
.games {
  padding: 0;
  margin: 10px 0 0 5px;
}
.game {
  float: left;
  margin: 0 5px 5px 0;
  border: 2px solid @grayLight;
  background-color: @white;
  width: 75px;
  padding: 2px;
  text-align: center;
  font-size: 10px;
  .border-radius(4px);
  list-style-type: none;
  color: @gray;
}
.entries-container {
  .border-radius(4px 4px 0 0);
  border: 2px solid @grayLight;
  border-bottom: 0;
  background-color: @offWhite;
}
.started {
  text-decoration: line-through;
  background-color: @gray;
  color: @grayLight;
}
.selected-filter {
  font-weight: bold;
}
.positions-list {
  margin: 10px 0 0;
  padding: 0;
}
.position-item {
  float: left;
  margin-right: 2px;
  list-style-type: none;
}
.position-link {
  border: @gray;
  background-color: @success;
  display: block;
  .border-radius(4px 4px 0 0);
  color: @white;  
  padding: 6px;
}
.players, .roster {
  width: 50%;
  float: left;
  background-color: @gray;  
}
.players-area, .roster-area {
  padding: 10px 4%;
  width: 92%;
  height: 760px;
}
.players-area {
}
.player-overflow, .roster-overflow {
  max-height: 690px;
  overflow: hidden;  
  background-color: @white;
  padding: 0 5px 5px;
  .border-radius(5px);
}
.players-table, .roster-table {
  font-size: 12px;
  width: 366px;
  max-width: 366px;
  td, th {
    padding: 4px;
    line-height: 26px;
    width: 20%;
    &.larger {
      width: 45%;
    }
    &.tiny {
      width: 14%;
      text-align: center;
    }
  }
}
.player-heading {
  color: @white;
  margin: 0 0 8px; 
}
.team-heading {
  color: @white;
  width: 40%;
  display: inline-block;
  margin: 0 0 8px; 
  vertical-align: middle; 
}
.salary-cap {
  padding: 6px;
  .border-radius(4px);
  background-color: @green;
  color: @white;
  height: 20px;
  font-size: 16px;
  line-height: 18px;
  width: 50%;
  display: inline-block;
  vertical-align: middle; 
  margin: 0 0 8px 6%; 
}
.broke {
  background-color: @danger;
}
.cta-container  {
  margin: 20px 0;
  width: 100%;
  position: relative;
  height: 40px;
}
.btn-contest-cta {
  position: absolute;
  right: 0;
}
.modal-form-container {
  float: left;
  margin: 0 20px 20px;
}
.secondary {
  margin: 20px;
}
.positive {
  color: @green;
}
.positive::before {
  content: "+";
}
.negative {
  color: red;
}
.negative::before {
  content: "-";
}
.btn-orange {
  background-color: @orangeHighlight;
}
.btn-orange:hover {
  background-color: @orangeDark;
}

.my-roster-list {
  padding: 0;
  margin: 0;
}

.mr-item {
  padding: 8px;
  border-bottom: 1px solid @grayLight;
  list-style-type: none;
}
.mr-player-info {
  float: left;
}
.mr-player-image {
  height: 50px;
  width: 50px;
  background-position: center center;
  background-image: asset-url('helmet.png');
  .border-radius(35px);
  border: 5px solid @grayLight;
  float: left;
  margin-right: 8px;
  background-color: @offWhite;
  background-repeat: no-repeat; 
}
.filled {
  border-color: @green;
}
.mr-player-name {
  font-size: 20px;
  font-weight: 200;
  font-family: @base-font-family;
  margin-bottom: 0;
}
.not-selected {
  color: @grayLight;
}
.mr-team, .mr-stats {
  display: block;
  color: @black;
  font-weight: 600;
  font-size: 12px;
}
.mr-stats {
  color: @gray;
  font-weight: 200;
}
.diff {
  color: @green;
}
.negprice {
  color: @red;
}
.mr-player-cta {
  float: right;
}
.players-table .fui-check-inverted, .players-table .fui-cross-inverted {
  margin-left: 6px;
  font-size: 14px !important;
}
.btn.btn-tiny {
  padding: 4px 6px 3px;
  font-size: 12px;
  line-height: 14px;
  color: @black;
}



