<div style='margin-left: 50px;'>
  <h3>Your Bank Accounts</h3>
  <div ng-repeat="recipient in recipients">
    <ul>
      <li>Legal Name: {{ recipient.legal_name }}</li>
      <li>Bank: {{ recipient.bank_name }}</li>
      <li>Last 4: {{ recipient.last4 }}</li>
    </ul>
  </div>

  <h4>Add a New Account for Deposits<h4>
  <input type="text" placeholder="account number" ng-model="newAccount.accountNumber"/>
  <input type="text" placeholder="routing" ng-model="newAccount.routingNumber"/>
  <input type="text" placeholder="legal name" ng-model="newRecipient.name"/>
  <a href="javascript://" ng-click="createRecipient()">Save</a>

  <hr />

  <h3>Your Credit Cards</h3>
  <div ng-hide="cards.length">
    You don't have any cards, add some.
  </div>
  <div ng-repeat="card in cards">
    <ul>
      <li>Name: {{ card.name }}
      </li>
      <li>Month: {{ card.exp_month }}
      </li>
      <li>Year: {{ card.exp_year }}
      </li>
      <li>Last 4: {{ card.last4 }}
      </li>
      <li>Zip: {{ card.address_zip }}
      </li>
    </ul>
  </div>
</div>

<div style="margin-bottom: 300px"></div>