<div class='modal-header'>
  <h3 class='inline-block'>Your Credit Cards</h3>
  <p class='inline-block pull-right' ng-show='cards.length'>
    Balance: <span class='balance'>${{ currentUser.balance }}</span>
  </p>
</div>
<div class='mal centered' ng-hide='loaded'>
  <img src='/assets/ajax-loader-big.gif'>
</div>
<div class='modal-body' ng-show='loaded'>
    <div class='alert alert-error' ng-show='errorMessage'>
      <div class='pull-right muted clickable' ng-click='errorMessage = null'> x </div>
      {{ errorMessage }}
    </div>
    <div class='alert alert-success' ng-show='successMessage' ng-click>
      <div class='pull-right muted clickable' ng-click='successMessage = null'> x </div>
      {{ successMessage }}
    </div>
    <div class='clearfix'>
      <ul class='unstlyed card-list no-no'>
        <li class='inline-block card' ng-repeat="card in cards" ng-class="{default: card.default}">
          <div class='card-token'>
            <div class='relative pull-right delete-card'>
              <span ng-click='triggerConfirm(card.id)' class='clickable'>x</span>
              <div ng-show="showConfirm(card.id)" class='card-confirm-delete popover right'>
                <div class='arrow'>
                </div>
                <h3 class='popover-title'>Are you sure?</h3>
                <div class='popover-content'>
                  <a class='btn btn-mini btn-danger mtm' ng-hide='deleteCardSpinner' ng-click='deleteCard(card.id)'>Yes, delete</a>
                  <img src='/assets/ajax-loader-micro.gif' ng-show='deleteCardSpinner'/>
                  <a class='btn btn-mini btn-default mtm' ng-click='closeConfirm(card.id)'>No, cancel</a>
                </div>
              </div>
            </div>
            <div class='overflow-hide'>
              {{ card.name }}<br />
            </div>
            <div class='ptm'>
              xxxx-xxxx-{{ card.last4 }}
            </div>
          </div>
        </li>
        <li class='add-card bold inline-block phm' ng-show="showAddCardButton()" ng-click="showCardForm = true">
          <a href="javascript://" class='btn btn-info btn-mini'>Add a Card<a>
        </li>
      </ul>
    </div>
    <div ng-show="showCardForm" class='credit-card mal'>
      <h6>Add a New Card</h6>
      <input type="text" class='card-name'   placeholder="name"        ng-model="cardInfo.name"/><br />
      <input type="text" class='mvm card-number' ng-class="{error: cardNumError}" placeholder="4444-4444-4444-4444" ng-model="cardInfo.number"/><br />
      <input type="text" class='mtm card-cvc' ng-class="{error: cvcError}" placeholder="cvc" ng-model="cardInfo.cvc"/>
      <input type="text" class='mtm mls mrs card-month'  placeholder="exp mo" ng-class="{error: expError}" ng-model="cardInfo.exp_month"/>
      <input type="text" class='mtm card-year'   placeholder="exp yr" ng-class="{error: expError}" ng-model="cardInfo.exp_year"/><br />
      <input type="text" class='mtm mrm card-zip'    placeholder="zip"         ng-model="cardInfo.address_zip"/>
      <a href="javascript://" ng-click="showCardForm = false" class='mtm btn btn-info'>cancel</a>
      <a href="javascript://" ng-click="saveCard()" class='mtm btn btn-primary' ng-hide='saveCardSpinner'>Save</a>
      <img src='/assets/ajax-loader-micro.gif' ng-show='saveCardSpinner'/>
    </div>
    <div ng-show="showingAddFunds()" class="add-funds-container">
      <p>$<input type='text' ng-model="chargeAmt" placeholder="Amount" class='add-funds-input mls'/>
      <a href="javascript://" class='btn btn-primary' ng-click="addFunds()" ng-hide='addMoneySpinner'>Add Money</a>
      <img src='/assets/ajax-loader-micro.gif' ng-show='addMoneySpinner'/>
      </p>
      <span class='muted tilt'>*At least $5.</span>
    </div>
</div>
<div class='modal-footer'>
  <a href="javascript://" class="btn" ng-click="close()">close</a>
</div>