<div class="sign-up" ng-include=" 'assets/signup.html' ">
</div>

<h3>Upcoming contests</h3>
<ul ng-controller="MarketListController">
  <li ng-repeat="market in markets">
    <a href="#/market/{{market.id}}">Games {{day(market.closed_at)}}</a>
  </li>
</ul>
