<div ng-controller="MarketController">
  <ul >
    <li ng-repeat="market in marketService.upcoming">
      <a href="#/market/{{market.id}}">{{market.name}} {{market.closed_at | shortFormTime}} </a>
    </li>
  </ul>

  <h4>{{day(market.closed_at)}}</h4>

  <h5>Games</h5>
  <ul class="games">
    <li ng-repeat="game in games" ng-class="{started: gameStarted(game)}">
      {{game.away_team}} @ {{game.home_team}} {{game.networkl}} on {{game.game_time | shortFormTime}}
    </li>
  </ul>

  <div ng-show="rosters.justSubmittedRoster">
    Your roster is looking great! Now that it's perfect, should we <a href="javascript://">Challenge some friends</a> or enter another contest?
    <a href="#/" ng-click="rosters.reset()">No thanks, I'm done</a>
  </div>

  <div ng-hide="rosters.inProgressRoster">
    <h3>Contests</h3>
    <ul>
      <!-- all these ng-clicks to joinContest, need to pass in  contest_type_id
          instead of the string '100k' or '970' or '194', etc-->
      <li ng-repeat="(contestClass, contestTypes) in contestClasses">
        <h2>{{contestClass}}</h2>
        <ul class="contests">
          <li ng-repeat="contestType in contestTypes">
            <a href="javascript://" ng-click="joinContest(contestType)">{{ contestType.buy_in | freeIfZero }}</a>
          </li>
        </ul>
      </li>
    </ul>
  </div>

</div>
