<%= render :partial => 'templates/support' %>
<div class="alert alert-error" ng-controller="SupportController">
  <h3>Need Some Help?</h3>
  <p>The fastest way to find help is our FAQ. If you can't find an answer please feel free to submit a support request and a representative will respond ASAP.</p>

  <form class="clearfix no-no support">
    <div flash-alert active-class="alert in" class="flash fade" >
      <strong class="alert-heading"></strong>
      <span class="alert-message">{{flash.message}}</span>
    </div>
    <div>
      <input type='text' placeholder='Message Title' class='mvm span12' ng-model="title"/>
      <input type='email' placeholder='Email' class='mvm span12' ng-model="email"/>
      <textarea class="mvm span12" placeholder="Your Message Here" ng-model="message"></textarea>
      <p><a href="javascript://" class="btn btn-danger btn-create-contest" ng-click="send()" ng-disabled="working">Submit Support Request</a></p>
    </div>
  </form>
</div>
