<h1>Hello, <%= @user.name %>!</h1>

<h2>Your Recent Contests</h2>
<%=# from when('/rosters', {templateUrl: '/roster_list.html', controller: 'RosterListController'})%>

<h2>This Week's Contests</h2>

<%=# All Of Week (with number), Thursday, Sunday, Monday (with teams) %>

<% if @user.leagues.count > 0 %>
  <h3>Your Leagues</h3>
  <ul>
  <% @user.leagues.each do |league| %>
    <li><%= league.name %></li>
  <% end %>
  </ul>
<% end %>
